.areeement__paragraph {
    margin-bottom: 25px;
}
.agreement__list {
    padding-bottom: 30px;
    list-style-type: decimal;
    list-style-position: inside;
}
.agreement__listItem {
    margin-bottom: 25px;
}
.agreement__subList {
    margin-left: 30px;
}
.agreement__subListItem {
    margin-bottom: 15px;
    padding-left: 15px;
    list-style-type: square;
}