.areeement__paragraph {
    margin-bottom: 25px;
}
.agreement__list {
    padding-bottom: 30px;
    list-style-type: decimal;
    list-style-position: inside;
}
.agreement__listItem {
    margin-bottom: 25px;
    counter-increment: step-counter;
    list-style-type: none;
    padding-left: 45px;
    position: relative;
}
.agreement__subList {
    margin-left: 40px;
}
.agreement__subListItem {
    margin-bottom: 15px;
    padding-left: 15px;
    list-style-type: square;
}
.agreement__listItem:before {
    content: counter(step-counter);
    position: absolute;
    left: 0;
    min-width: 18px;
    text-align: center;
    padding: 3px 7px;
    margin-right: 5px;
    background-color: #000;
    color: white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -2px;
}