.article {
	margin-bottom: 30px;
}

.article__title {
	font-size: 36px;
	text-transform: none;
	margin-bottom: 15px;
}



.article__title .brick__counters {
	display: inline;
    vertical-align: middle;
}












.articleInfo {
	font-size: 14px;
	color: #848484;
	margin-bottom: 20px;
}
.articleInfo a {
	text-decoration: underline;
	color: inherit;
	font-weight: bold;
}
.articleInfo a:hover {
	text-decoration: none;
}



.articleInfo__avatarContainer .articleInfo {
	float: left;
	padding-left: 10px;
	border-left: 2px solid #dbdbdb;
	min-height: 44px;
}


.articleInfo__avatarContainer .articleInfo__avatar {
	float: left;
	width: 44px;
	height: 44px;
	margin-right: 15px;
}
.articleInfo__avatarContainer .articleInfo__avatar img {
	width: 100%;
	border-radius: 50%;
}












.articlePhoto {
	margin-bottom: 30px;
}
.articlePhoto__link {
	display: inline-block;
	font-size: 0; /* чтою не было пустых пикселей внизу */
	margin-bottom: 8px;
	width: 100%;
}
.article__image {
	width: 100%;
}
.articlePhoto__info {
	font-size: 16px;
	color: #525252;
}
.articlePhoto__author {
	font-size: 16px;
	color: #848484;
}






.article__content { 
	font-size: 18px;
	line-height: 1.4;
	color: #000;
	margin-bottom: 20px;
}






.article__readmore {
    font-size: 18px;
    color: black;
    display: inline-block;
    position: relative;
    padding: 5px 40px 5px 0;
    margin-bottom: 30px;
}
.article__readmore:after {
    content: '';
    position: absolute;
    top: 7px;
    right: 0;
    width: 30px;
    height: 22px;
    display: block;
    background: url(../_images/icons_sprite.png) -10px -234px no-repeat;
}


.article__separator {
    border-top: 3px solid #d4d4d4;
}









.readAlso {
	font-size: 18px;
	font-style: italic;
	line-height: 1.8;
	margin-bottom: 20px;
}
.readAlso__list {
	font-size: 18px;
	font-style: normal;
}
.readAlso__item {
	color: #de0606;
	list-style: square;
	margin-left: 25px;
}
.readAlso__link {
	text-decoration: none;
	color: inherit;
}
.readAlso__link:hover {
	text-decoration: underline;
}






.missSpell__hint {
	color: #a6a5a5;
	font-size: 14px;
	margin-bottom: 10px;
}








.article__tags {
	font-size: 14px;
	margin-bottom: 20px;
}
.article__tags a {
	color: inherit;
	text-decoration: underline;
}
.article__tags a:hover {
	text-decoration: none;
}