.article {
    margin-bottom: 20px;
}

.article__title {
    font-size: 36px;
    text-transform: none;
    margin-bottom: 15px;
}



.article__title .countersBlock {
    vertical-align: middle;
}


.article__date {
    font-size: 14px;
    color: #848484;
    margin-bottom: 18px;
}








.articleInfo__avatarContainer {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
}


.articleInfo {
    font-size: 14px;
    color: #848484;
}
.articleInfo a {
    text-decoration: underline;
    color: inherit;
    font-weight: bold;
}
.articleInfo a:hover {
    text-decoration: none;
}



.articleInfo__avatarContainer .articleInfo {
    /*	float: left;
        padding-left: 10px;
        border-left: 2px solid #dbdbdb;
        min-height: 44px;*/
}


.articleInfo__avatarContainer .articleInfo__avatar {
    float: left;
    width: 44px;
    height: 44px;
    margin-right: 15px;
}
.articleInfo__avatarContainer .articleInfo__avatar img {
    width: 100%;
    border-radius: 50%;
}












.brick.view_articlePhoto {
    width: 606px;
    height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.tags .brick.view_articlePhoto {
		width: calc(100% - 3%);
	}

	.tags .articlePhoto__link {
		width: 100%;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1040px) {
    .brick.view_articlePhoto {
        width: calc(100% - 13px)
    }
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
    .brick.view_articlePhoto {
        width: calc(100% - 22px)
    }
}
.articlePhoto__link {
    display: inline-block;
    font-size: 0; /* чтою не было пустых пикселей внизу */
    margin-bottom: 8px;
    /*width: 100%;*/
}
.article__image {
    width: 100%; /* позаботьтесь, чтобы изображение было подходящих пропорций */
    /*height: 400px;*/
}
.articlePhoto__info {
    font-size: 14px;
    color: #525252;
    margin-bottom: 0;
}
.articlePhoto__author {
    font-size: 14px;
    color: #848484;
    margin-bottom: 0;
}

.article__picture {
    margin-bottom: 20px;
    padding: 10px;
    background: #eeeeee;
}

.article__picture__name {
    margin: 5px 0 0 10px;
    font-family: 'PT Sans';
    font-weight: normal;
}

.article__picture__author {
    margin: 0 0 15px 10px;
    font-family: 'PT Sans';
    font-size: 14px;
    color: #848484;
}











.article__readmore {
    font-size: 17px;
    font-weight: bold;
    color: black;
    display: inline-block;
    position: relative;
    padding: 5px 40px 5px 0;
    margin-bottom: 20px;
}
.article__readmore:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 30px;
    height: 22px;
    display: block;
    background: url(../_images/icons_sprite.png) -10px -199px no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .article__readmore:after {
        background-image: url(../_images/icons_sprite_2x.png);
        background-size: 282px 500px;
    }
}











.readAlso {
    font-size: 18px;
    font-style: italic;
    line-height: 1.8;
    margin-bottom: 20px;
}
.readAlso__list {
    font-size: 18px;
    font-style: normal;
}
.readAlso__item {
    color: #de0606;
    list-style: square;
    margin-left: 25px;
}
.readAlso__link {
    text-decoration: none;
    color: inherit;
}
.readAlso__link:hover {
    text-decoration: underline;
}






.hint {
    color: #a6a5a5;
    font-size: 14px;
    margin-bottom: 10px;
}








.article__tags {
    font-size: 14px;
    margin-bottom: 20px;
}
.article__tags a {
    color: inherit;
    text-decoration: underline;
}
.article__tags a:hover {
    text-decoration: none;
}

.author {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 0 20px;
    background: #eeeeee;
}

.author__info {
    padding: 30px;
    font-size: 14px;
}


.author__photo {
    width: 350px;
    height: 290px;
    float: right;
}

@media screen and (max-width: 1279px) {
    .author__photo {
        width: 260px;
        height: 200px;
    }
}