.banner_top {
	display: block;
	background: #ccc;
}
@media screen and (max-width: 1040px) {
	.banner_top  {
		display: none;
	}
}





.banner_footer {
	display: block;
	text-decoration: none;
	height: 300px;
	background: #121212;
	padding-left: 50%;
	overflow: hidden;
}
.banner_footer img {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}