.blockSelector {
	border-top: 3px solid #d4d4d4;
    margin-bottom: 30px;
    width: 100%;
}
.blockSelector tr {	
}
.blockSelector_cell {
	text-align: center;
	vertical-align: middle;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*.blockSelector tr:last-child .blockSelector_cell:last-child {
	border-right: 1px solid #ffd051;
}*/
.blockSelector_cell.state_selected {
	background: #ffd051;
}

.blockSelector__link {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #a3a3a3;
    display: inline-block;
	width: 100%;
	padding: 9px 0 8px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
}
.blockSelector__link:hover {
    color: #c64a1b;
}
.blockSelector_cell.state_selected .blockSelector__link {
	color: #000;
	border-bottom: 1px solid #ffd051;
	border-right: 1px solid #ffd051;
	box-shadow: -1px 0 0 #ffd051;
}
.blockSelector_cell.state_selected:first-child .blockSelector__link {
	box-shadow: none;
}
.blockSelector_cell:last-child .blockSelector__link {
	border-right: none;
}
