.brick {
	height: 450px;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
@media screen and (max-width: 1023px) {
	.brick {
		width: 48.5%;
		margin: 0 3% 22px 0;
	}
	.brick:nth-child(2n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.brick {
		width: 32%;
		margin: 0 2% 22px 0;
	}
	.brick:nth-child(3n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.brick {
		width: 300px;
		margin: 0 22px 22px 0;
	}
	.brick:nth-child(3n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1297px) {
	.brick {
		width: 300px;
		margin: 0 16px 16px 0;
	}
	.brick:nth-child(4n) {
		margin-right: 0;
	}
}










.brick.view_mini {
	height: 188px;
}
@media screen and (max-width: 1023px) {
	.brick.view_mini {
		width: 22.75%;
		margin: 0 3% 22px 0;
	}
	.brick.view_mini:nth-child(4n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.brick.view_mini {
		width: 15%;
		margin: 0 2% 22px 0;
	}
	.brick.view_mini:nth-child(6n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.brick.view_mini {
		width: 139px;
		margin: 0 22px 22px 0;
	}
	.brick.view_mini:nth-child(6n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1297px) {
	.brick.view_mini {
		width: 142px;
		margin: 0 16px 16px 0;
	}
	.brick.view_mini:nth-child(8n) {
		margin-right: 0;
	}
}



















/* для желтого столбца на всю высоту */

.brickrows_2 .table__sideColumn .brick.view_newslist {
	height: 922px; /* = x2 + margin */
}
@media screen and (min-width: 1297px) {
	.brickrows_2 .table__sideColumn .brick.view_newslist {
		height: 916px;  /* = x2 + margin */
	}
}

.brickrows_3 .table__sideColumn .brick.view_newslist {
	height: 1394px; /* = x3 + 2*margin */
}
@media screen and (min-width: 1297px) {
	.brickrows_3 .table__sideColumn .brick.view_newslist {
		height: 1382px;  /* = x3 + 2*margin */
	}
}






/* БОКОВАЯ КОЛОНКА - ширина плитки  */
.table__sideColumn .brick,
.table__leftColumn .brick,
.table__rightColumn .brick {
	margin-right: 0;
	width: 100%;
}




/* ОСНОВНАЯ КОЛОНКА - обновляем отступы */
@media screen and (max-width: 1023px) {
	.table__mainColumn .brick {
		width: 100%;
		margin: 0 0 22px 0;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.table__mainColumn .brick,
	.table__centralColumn .brick {
		width: 48.5%;
		margin: 0 3% 22px 0;
	}
	.table__mainColumn .brick:nth-child(2n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.table__mainColumn .brick {
		margin-right: 22px;
	}
	.table__mainColumn .brick:nth-child(2n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1297px) {
	.table__mainColumn .brick {
		margin-right: 16px;
	}
	.table__mainColumn .brick:nth-child(3n) {
		margin-right: 0;
	}
}

.table__centralColumn .brick:nth-child(2n) {
	margin-right: 0
}
