/*@import "_brickrows.css";*/
@import "_brickwidth.css";








.bricks__wrapper {
	/*overflow: hidden;*/
}
@media screen and (max-width: 1023px) {
	.bricks__wrapper {
		margin-right: -3%;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.bricks__wrapper {
		margin-right: -2%;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.bricks__wrapper {
		margin-right: -22px;
	}
}
@media screen and (min-width: 1280px) {
	.bricks__wrapper {
		margin-right: -16px;
	}
}
















.brick.view_banner {
	border: 1px dashed rgba(140,140,140,.35);
	border-top: 0;
	border-bottom: 0;
	text-align: center;
	font-size: 0;
	height: 400px !important;
}




















.brick__image {
	/*display: block;*/
	height: 112px;
	overflow: hidden;
	padding-top: 113px;
	margin-bottom: 10px;
	position: relative;
}
.brick__image img {
	width: 100%;
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.brick__dateLabel {
    position: absolute;
    background: #000;
    color: #fff;
    font-weight: bold;
    top: -4px;
    left: -4px;
    padding: 1px 6px 2px;
}

.brick__typeLabel {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	background: #ffd051;
	padding: 7px 10px 6px;
	left: 0;
	top: 11px;
	/*height: 32px;*/
}
.brick__typeLabel:after,
.brick__typeLabel:before {
	position: absolute;
	content: "";
	right: -6px;
    border-left: 3px solid #ffd051;
	border-right: 3px solid transparent;
}
.brick__typeLabel:before {
	top: 0;
	border-bottom: 8px solid transparent;
    border-top: 8px solid #ffd051;
}
.brick__typeLabel:after {
	bottom: 0;
	border-bottom: 8px solid #ffd051;
    border-top: 8px solid transparent;
}


.brick__videoIcon {
    position: absolute;
    width: 32px;
    height: 32px;
    background: #ffd103;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.brick__videoIcon:after {
	position: absolute;
	content: "";
	left: 10px;
	left: 10px;
    top: 8px;
    border: 8px solid transparent;
    border-left: 13px solid #000;
}
/* технологии */ 
.contentBackground_deepblue .brick__videoIcon {
    background: #669dc3;
}
.contentBackground_deepblue .brick__videoIcon:after {
	border-left-color: #fff;
}
/* происшествия */ 
.contentBackground_red .brick__videoIcon,
.contentBackground_gunmetal .brick__videoIcon {
    background: #000;
}
.contentBackground_red .brick__videoIcon:after,
.contentBackground_gunmetal .brick__videoIcon:after {
	border-left-color: #fff;
}














.brick__content h4,
.brick__content h4 a {
	text-decoration: none;
	color: #000;
}







.brick__label-position {
	position: absolute;
	bottom: 7px;
	left: 10px;

}
.brick__label {
	background: rgba(102,119,135,.7);
	padding: 3px 5px 1px;

	font-family: 'Roboto', sans-serif;
	line-height: 1.1;
	font-size: 11px;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.brick__label:hover {
	color: #fff !important;
	background: rgba(102,119,135,1);
}
.brick__label.view_marginBottom {
	display: inline-block;
	margin-bottom: 5px;
}

/* здоровье */
.contentBackground_dark .brick__label {
	background: rgba(0,171,170,.7);
}
.contentBackground_dark .brick__label:hover {
	background: rgba(0,171,170,1);
}
/* технологии */
.contentBackground_deepblue .brick__label {
	background: rgba(102,157,195,.7);
}
.contentBackground_deepblue .brick__label:hover {
	background: rgba(102,157,195,1);
}
/* происшествия */
.contentBackground_red .brick__label {
	background: rgba(255,0,0,.7);
}
.contentBackground_red .brick__label:hover {
	background: rgba(255,0,0,1);
}
/* происшествия темнее */
.contentBackground_gunmetal .brick__label {
	background: rgba(255,0,0,.7);
}
.contentBackground_gunmetal .brick__label:hover {
	background: rgba(255,0,0,1);
}




.brick__content h5,
.brick__content h5 a {
	line-height: 1.1;
	color: #000;
	text-decoration: none;
	margin-bottom: 9px;
}





.brick__mainLinkWrapper {
	margin-bottom: 5px;
}


.brick__mainLink {
    font-family: 'Roboto Slab', serif;
	font-weight: bold;
	line-height: 1.1;
	color: #000;
	font-size: 21px;
	text-decoration: none;
}
.contentBackground_red .brick__mainLink,
.contentBackground_gunmetal .brick__mainLink,
.contentBackground_gunmetal .brick__content h5 a,
.contentBackground_deepblue .brick__mainLink,
.contentBackground_deepblue .brick__content h5 a,
.contentBackground_dark .brick__mainLink,
.contentBackground_dark .brick__content h5 a {
	color: #fff;
}
.contentBackground_red .brick__content h5 a {
	color: #f8eeed;
}



.brick__mainLinkDate {
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	color: #909090;
	font-weight: 300;
	text-transform: uppercase;
}
.contentBackground_gunmetal .brick__mainLinkDate,
.contentBackground_red .brick__mainLinkDate,
.contentBackground_deepblue .brick__mainLinkDate {
	color: #fff;
}






.brick__text {
	color: #000;
	font-size: 15px;
	margin-bottom: 10px;
	line-height: 1.2;
}
.contentBackground_gunmetal .brick__text,
.contentBackground_deepblue .brick__text,
.contentBackground_dark .brick__text {
    color: #d3d3d3;
}
.contentBackground_red .brick__text {
	color: #e8dedd;
}


.brick__text a {
	color: #343434;
	text-decoration: none;
}
.brick__text a:hover {
	/*color: #c64a1b;*/
	text-decoration: none;
}

.readAll {
	color: #444;
	font-size: 14px;
	display: inline-block;
    padding-top: 4px;
}



.countersBlock {
	font-family: 'Roboto', sans-serif;
    font-size: 11px;
	height: 15px;
	margin-bottom: 4px;
}
.countersBlock__item {
    font-weight: bold;
	color: #c1c1c1;
	display: inline-block;
	margin-right: 11px;
}
.countersBlock__item.view_count1 {
    padding: 0 14px 0 0;
    position: relative;
}
.countersBlock__item.view_count2 {
    padding: 0 18px 0 0;
    position: relative;
}
.countersBlock__item.view_count3 {
    padding: 0 15px 0 0;
    position: relative;
}
.countersBlock__item.view_count4 {
    padding: 0 16px 0 0;
    position: relative;
}

.countersBlock__item .icon {
	background: url(../_images/icons_sprite.png) no-repeat;
    position: absolute;
    opacity: .24;
}
.countersBlock__item.view_count1 .icon {
	width: 10px;
    height: 15px;
    right: 0;
    top: 0;
    background-position: -0px -562px;
}
.countersBlock__item.view_count2 .icon {
	width: 13px;
    height: 14px;
    right: 0;
    top: 2px;
    background-position: -11px -562px;
}
.countersBlock__item.view_count3 .icon {
	width: 11px;
    height: 9px;
    right: 0;
    top: 2px;
    background-position: -25px -562px;
}
.countersBlock__item.view_count4 .icon {
	width: 9px;
    height: 11px;
    right: 0;
    top: 2px;
    background-position: -37px -562px;
}


/* на синем фоне */
.contentBackground_blue .countersBlock__item {
	color: #929fa9;
}
.contentBackground_red .countersBlock__item {
	color: #ECC4C0;
}


/* на желтой видосекции */
.videoSection .countersBlock__item .icon {
	opacity: .76;
}
.videoSection .countersBlock__item {
	color: #000;
}
.videoPlaylist .countersBlock__item {
	color: #a1a1a1;;
}


/* в слайдере и на темном фоне - белые */
.contentBackground_deepblue .countersBlock__item .icon,
.contentBackground_dark .countersBlock__item .icon,
.contentBackground_gunmetal .countersBlock__item .icon,
.contentBackground_red .countersBlock__item .icon,
.videoPlaylist .countersBlock__item .icon,
.aLaSlideImage .countersBlock__item .icon,
.slider .countersBlock__item .icon {
    opacity: .55;
}
.contentBackground_deepblue .countersBlock__item.view_count1 .icon,
.contentBackground_dark .countersBlock__item.view_count1 .icon,
.contentBackground_gunmetal .countersBlock__item.view_count1 .icon,
.contentBackground_red .countersBlock__item.view_count1 .icon,
.videoPlaylist__item .countersBlock__item.view_count1 .icon,
.aLaSlideImage .countersBlock__item.view_count1 .icon,
.slider .countersBlock__item.view_count1 .icon {
    background-position: -0px -514px;
}
.contentBackground_deepblue .countersBlock__item.view_count2 .icon,
.contentBackground_dark .countersBlock__item.view_count2 .icon,
.contentBackground_gunmetal .countersBlock__item.view_count2 .icon,
.contentBackground_red .countersBlock__item.view_count2 .icon,
.videoPlaylist__item .countersBlock__item.view_count2 .icon,
.aLaSlideImage .countersBlock__item.view_count2 .icon,
.slider .countersBlock__item.view_count2 .icon {
    background-position: -11px -514px;
}
.contentBackground_deepblue .countersBlock__item.view_count3 .icon,
.contentBackground_dark .countersBlock__item.view_count3 .icon,
.contentBackground_gunmetal .countersBlock__item.view_count3 .icon,
.contentBackground_red .countersBlock__item.view_count3 .icon,
.videoPlaylist__item .countersBlock__item.view_count3 .icon,
.aLaSlideImage .countersBlock__item.view_count3 .icon,
.slider .countersBlock__item.view_count3 .icon {
    background-position: -25px -514px;
}

.slider__text .countersBlock {
    opacity: .6;
}



















/* сюжеты - chapter */
.brick.view_chapter {
	height: 270px;
}
.brick.view_chapter .brick__mainLink {
	text-transform: uppercase;
	font-size: 16px;
}
.brick.view_chapter .brick__mainLinkWrapper {
	margin-bottom: 0;
}

.brick.view_chapter .brick__mainLinkDate {
	text-transform: none;
	font-size: 13px
}

.brick.view_chapter .rick__mainLinkCounter {
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #898989;
	font-weight: bold;
}
.brick__fullscreenLabel {
	background: rgba(92,72,29,.38);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    -webkit-transition: background .15s ease;
    -moz-transition: background .15s ease;
    transition: background .15s ease;
    color: #fff;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    line-height: 6.1;
}
.brick__fullscreenLabel:hover {
	background: rgba(92,72,29,.2);
    color: #fff !important;
}
























/* мелкие с прямоугольной картинкой */



.brick.view_mini .brick__image {
	display: block;
	height: 45px;
	overflow: hidden;
	padding-top: 45px;
	margin-bottom: 10px;
}

.brick.view_mini .brick__text {
	font-size: 14px;
}

.brickLabel {
	color: #fff;
	background: #c6c6c6;
	font-size: 14px;
	font-weight: bold;
	padding: 0 5px;
}





/* мелкие с прямоугольной картинкой сбоку */
.brick.view_floatText {
	min-height: 90px;
	height: auto;
	width: 100%;
}
.brick.view_floatText .brick__side{
	float: left;
}
.brick.view_floatText .brick__image {
	display: block;
	height: 45px;
	overflow: hidden;
	padding-top: 45px;
	margin-bottom: 0;
	width: 140px;
	margin-right: 10px;
}
.brick.view_floatText .brick__text {
	font-size: 14px;
}

.brick.view_floatText .brick__content {
	margin-left: 150px;
}
.brick.view_floatText .countersBlock {
	margin: 10px 0 0 0;
}
.brick.view_floatText.view_bottomBorder {
	border-bottom: 1px dashed #e8e8e8;
	padding-bottom: 12px;
	margin-bottom: 15px;
}



/* мелкие с квадратной картинкой */




.brick.view_authors h2 {
	margin-bottom: 10px;
}
.brick.view_authors .brick__image {
	display: block;
	height: 65px;
	padding-top: 65px;
	width: 200px;
}
@media screen and (max-width: 1023px) {
	.brick.view_authors .brick__image {
		height: 55px;
		padding-top: 55px;
		width: auto;
	}
}
.brick.view_authors .brick__text {
	font-size: 16px;
}





















































































/* желтый блок (новости) */
.brick.view_yellow {
	border: 3px solid #ffd051;
	position: relative;
}
.brick__header {
	background: #ffd051;
	width: 100.1%;
    z-index: 1;
    position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	font-weight: bold;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	color: #000;
	padding: 9px 18px 10px;
	width: 100%;
	position: relative;
}
.brick__header.view_arrowed:after {
	display: block;
	position: absolute;
	right: 5px;
	top: 0;
	width: 42px;
    height: 37px;
	content: "";
	background: url(../_images/icons_sprite.png);
	background-position: -5px -226px;
}


.brick.view_yellow .iscroll {
    height: 356px;
} 
.brick.view_2x.view_yellow .iscroll {
    height: 772px;
}
.brick.view_3x.view_yellow .iscroll {
    height: 1188px;
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.brick.view_withTranslation .iscroll {
	    height: 250px;
	}
	.brick.view_withTranslation.state_translationMinimized .iscroll {
	    height: 398px;
	}
}
@media screen and (min-width: 1280px) {
	.brick.view_2x.view_withTranslation .iscroll {
		height: 566px;
	}
	.brick.view_withTranslation.state_translationMinimized .iscroll {
		height: 714px;
	}
}



.iScrollIndicator {
	border: none !important;
	background: rgba(0, 0, 0, 0.3) !important;
}
.iScrollVerticalScrollbar {
	width: 4px !important;
    right: 2px !important;
}



.brick__footer {
    font-family: 'Roboto Slab', serif;
	background: #ffd051;
	color: #000;
	/*width: 100%;*/
	display: block;
	width: 100.1%;
	/*position: absolute;*/
	/*bottom: 0;*/
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	text-decoration: underline;
	padding: 8px 0;
}
/*.brick__footer:hover {
	text-decoration: none;
}*/






/* стили для мнение */
.brick.view_opinion {
	background: #f6f6f6;
	overflow: hidden;
	width: 300px;
}
@media screen and (min-width: 1280px) {
    .brick.view_opinion {
        width: 295px;
    }
}
.brick.view_opinion .brick__image {
	height: 120px;
	padding-top: 120px;
	position: relative;
	display: block;
}
/*.brick.view_opinion .brick__image:after {
	display: block;
	position: absolute;
	content: "";
	left: 38px;
	bottom: 0;
	border: 7px solid transparent;
    border-bottom: 7px solid #f6f6f6;
}*/
/*.brick.view_opinion .swiper-wrapper {
	height: 354px;
}*/
.brick.view_opinion .brick__content {
	padding: 0 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.opinion__info {
	position: absolute;
	color: #fff;
    left: 0;
    bottom: 0;
}
.opinion__sliderInfo {
	font-weight: normal;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	transform: translateY(-1px);
}

.brick.view_opinion .opinion__info h4 {
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0,0,0,.3);
	padding-bottom: 4px;
}
.brick.view_opinion .opinion__info h6 {
	color: #fff;
	margin-bottom: 7px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 11px;
}
.brick.view_opinion h2 {
	margin-bottom: 10px;
}
.brick.view_opinion .brick__mainLink {
	font-size: 18px;
    /*line-height: 1.04;*/
}
.brick.view_opinion .brick__mainLinkWrapper {
    margin-bottom: 11px;
}









/* серый блок (главное за сегодня) */


.brick.view_grey {
	border: 3px solid #eee;
}
.brick.view_grey .brick__header {
	text-transform: uppercase;
	background: transparent;
	padding: 13px 15px;
	border-bottom: 1px solid #eee;
}
.todayMainNewsList {
	padding: 20px 18px;
}
.todayMainNewsList__item {
	padding-left: 36px;
	position: relative;
	margin-bottom: 14px;
}
.todayMainNewsList__item:before {
	display: block;
	position: absolute;
	content: "";
	width: 14px;
	height: 12px;
	top: 6px;
	left: 0;
	background: #ffd051;
}
.todayMainNewsList__item:after {
	display: block;
	position: absolute;
	content: "";
	top: 6px;
	left: 0;
	border: 6px solid transparent;
    border-left: 3px solid #fff;
}
.todayMainNewsList__link {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	line-height: 1.4;
}


































.brick.view_inArticle {
	float: right;
    border: 1px dashed rgba(140,140,140,.35);
    border-top: 0;
    border-bottom: 0;
    margin-left: 16px;
    margin-right: 0;
    padding: 0 16px;
    height: auto;
}
.brick.view_inArticle .brick:last-child {
	margin-bottom: 0;
}















.brick.view_more {
	border: 3px dashed rgba(0,0,0,.13);
}
.brick.view_more a {
	text-decoration: none;
    color: #000;
    display: inline-block;
    width: 100%;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 70px 40px 112px;
}
.brick.view_more a:before {
	display: block;
	content: "";
    background: url(../_images/arrow-block.png) no-repeat 50% 25%;
    width: 170px;
    height: 126px;
    opacity: .17;
    margin: 0 auto 33px;
}
.contentBackground_dark .brick.view_more a:before,
.contentBackground_red .brick.view_more a:before,
.contentBackground_gunmetal .brick.view_more a:before {
    background-image: url(../_images/arrow-block-w.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.brick.view_more a:before {
		background-image: url(../_images/arrow-block_2x.png);
		background-size: 170px 126px;
	}
	.contentBackground_dark .brick.view_more a:before,
	.contentBackground_red .brick.view_more a:before,
	.contentBackground_gunmetal .brick.view_more a:before {
	    background-image: url(../_images/arrow-block-w_2x.png);
	}
}


.brick.view_more a:after {
    display: inline-block;
    width: 26px;
    height: 20px;
    content: "";
    background: url(../_images/icons_sprite.png);
    background-position: -13px -234px;
    transform: translateY(3px);
}
/* здоровье */
.contentBackground_dark .brick.view_more {
	border: 3px dashed rgba(255,255,255,.13);
}
.contentBackground_dark .brick.view_more a {
	color: #ddd;
}
.contentBackground_dark .brick.view_more a:after {
    background-position: -13px -335px;
    opacity: .7;
}
/* технилогии */ 
.contentBackground_deepblue .brick.view_more a {
	color: #fff;
}
.contentBackground_deepblue .brick.view_more a:after {
    background-position: -13px -335px;
    opacity: .7;
}
/* происшествия */
.contentBackground_red .brick.view_more {
	border: 3px dashed rgba(255,255,255,.15);
}
.contentBackground_red .brick.view_more a {
	color: #f8eeed;
}
.contentBackground_red .brick.view_more a:after {
    background-position: -13px -335px;
    opacity: .7;
}
/* происшествия темнее */
.contentBackground_gunmetal .brick.view_more {
	border: 3px dashed rgba(255,255,255,.15);
}
.contentBackground_gunmetal .brick.view_more a {
	color: #ddd;
}
.contentBackground_gunmetal .brick.view_more a:after {
    background-position: -13px -335px;
    opacity: .7;
}










.brick.view_noHeight {
	height: auto;
}



.view_centred {
	text-align: center;
}