
/*.bricks__wrapper {
    display: flex;
    flex-wrap: wrap;
}*/
@media screen and (max-width: 1023px) {
	.bricks__wrapper {
		margin-right: -3%;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.bricks__wrapper {
		margin-right: -2%;
	}
	.table__mainColumn .bricks__wrapper {
		margin-right: -3%;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.bricks__wrapper {
		margin-right: -22px;
	}
}
@media screen and (min-width: 1280px) {
	.bricks__wrapper {
		margin-right: -16px;
	}
}







.brick {
	overflow: visible;
	height: 400px;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*-webkit-overflow-scrolling: touch;*/
	position: relative;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
    /*-webkit-backface-visibility: hidden;*/
	/*-webkit-transform-style: preserve-3d;*/
    zoom: 1;
    z-index: 10;
}
@media screen and (max-width: 1023px) {
	.brick {
		width: 47%;
		margin: 0 3% 22px 0;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.brick {
		width: 31.33333%;
		margin: 0 2% 22px 0;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.brick {
		width: 300px;
		margin: 0 22px 22px 0;
	}
}
@media screen and (min-width: 1280px) {
	.brick {
		width: 295px;
		margin: 0 16px 16px 0;
	}
}








/* ОСНОВНАЯ КОЛОНКА - обновляем отступы */
.table .table__sideColumn .brick {
	margin: 0 0 20px 0;
	width: 100%;
	float: none;
}

@media screen and (max-width: 1023px) {
	.brick {
		width: 47%;
		margin: 0 3% 22px 0;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.table__mainColumn .brick {
		width: 47%;
		margin: 0 3% 22px 0;
	}
}













@media screen and (max-width: 1023px) {
	.brick.view_doubleWidth {
		width: 97%;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.brick.view_doubleWidth {
		width: 64.6666%;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.brick.view_doubleWidth {
		width: 622px;
	}
}
@media screen and (min-width: 1280px) {
	.brick.view_doubleWidth {
		width: 606px;
	}
}



@media screen and (max-width: 1023px) {
	.brick.view_oneThird {
		width: 30.3333%;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.brick.view_oneThird {
		width: 20.21%;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.brick.view_oneThird {
		width: 192.7px;
	}
}
@media screen and (min-width: 1280px) {
	.brick.view_oneThird {
		width: 191.2px;
	}
}

















/* для желтого столбца на всю высоту */

.brick.view_2x {
	height: 822px; /* = x2 + margin */
}
@media screen and (min-width: 1280px) {
	.brick.view_2x {
		height: 816px;  /* = x2 + margin */
	}
}

.brick.view_3x {
	height: 1244px; /* = x3 + 2*margin */
}
@media screen and (min-width: 1280px) {
	.brick.view_3x {
		height: 1232px;  /* = x3 + 2*margin */
	}
}















.brick.view_mini {
	height: 188px;
}
.brick.view_withTag {
	height: 192px;
}
@media screen and (max-width: 1023px) {
	.brick.view_mini {
	    width: 22%;
		margin: 0 3% 22px 0;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.brick.view_mini {
	    width: 14.66667%;
		margin: 0 2% 22px 0;
	}
	.table__mainColumn .brick.view_mini {
	    width: 22.74%;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.brick.view_mini {
		width: 139px;
		margin: 0 22px 22px 0;
	}
}
@media screen and (min-width: 1280px) {
	.brick.view_mini {
	    width: 139.5px;
		margin: 0 16px 16px 0;
	}
}






















.brick.view_authors {
	height: 235px;
}
@media screen and (max-width: 1023px) {
	.brick.view_authors {
		height: 285px;
		width: 22%;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.brick.view_authors {
		padding: 0 40px;
		height: 260px;
	}
}
@media screen and (min-width: 1280px) {
	.brick.view_authors {
		padding: 0 30px;
		height: 275px;
	}
}







