@import "_brickrows.css";





.brick {
	height: 440px;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
@media screen and (max-width: 1023px) {
	.brick {
		width: 48.5%;
		margin: 0 3% 22px 0;
	}
	.brick:nth-child(2n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.brick {
		width: 32%;
		margin: 0 2% 22px 0;
	}
	.brick:nth-child(3n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.brick {
		width: 300px;
		margin: 0 22px 22px 0;
	}
	.brick:nth-child(3n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1297px) {
	.brick {
		width: 300px;
		margin: 0 16px 16px 0;
	}
	.brick:nth-child(4n) {
		margin-right: 0;
	}
}
















.brick.view_banner {
	border: 1px dashed #e8e8e8;
	border-top: 0;
	border-bottom: 0;
	text-align: center;
	height: auto;
	font-size: 0;
}




















.brick__image {
	display: block;
	height: 95px;
	overflow: hidden;
	padding-top: 95px;
	margin-bottom: 15px;
}





.brick__image img {
	width: 100%;
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}













.brick__content h6,
.brick__content h6 a {
	color: #a3a3a3;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 5px;
}
.brick__content h4 a:hover {
	color: #c64a1b;
}
.brick__content h2,
.brick__content h2 a {
	color: #000;
	text-decoration: none;
	margin-bottom: 10px;
}
.brick__content h2 a:hover {
	color: #c64a1b;
}

.brick__content p {
	color: #000;
	font-size: 16px;
	margin-bottom: 15px;
}






.brick__counters {
	color: #c1c1c1;
    font-size: 11px;
    font-weight: bold;
}
.brick__counters .count1 {
    padding: 0 14px 0 0;
    position: relative;
}
.brick__counters .count2 {
    padding: 0 18px 0 17px;
    position: relative;
}
.brick__counters .count3 {
    padding: 0 15px 0 12px;
    position: relative;
}
.brick__counters .icon {
	background: url(../_images/icons.png) no-repeat;
    position: absolute;
}
.brick__counters .count1 .icon {
	width: 10px;
    height: 15px;
    background-position: -240px 0;
    right: 0;
    top: 0;
    background-position: -240px -20px;
}
.brick__counters .count2 .icon {
	width: 13px;
    height: 13px;
    background-position: -260px 0;
    right: 0;
    top: 2px;
    background-position: -260px -20px;
    top: 2px;
}
.brick__counters .count3 .icon {
	width: 11px;
    height: 9px;
    background-position: -280px 0;
    right: 0;
    top: 3px;
    background-position: -280px -20px;
}

























.brick.view_mini {
	height: 188px;
}
@media screen and (max-width: 1023px) {
	.brick.view_mini {
		width: 22.75%;
		margin: 0 3% 22px 0;
	}
	.brick.view_mini:nth-child(4n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.brick.view_mini {
		width: 15%;
		margin: 0 2% 22px 0;
	}
	.brick.view_mini:nth-child(6n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.brick.view_mini {
		width: 139px;
		margin: 0 22px 22px 0;
	}
	.brick.view_mini:nth-child(6n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1297px) {
	.brick.view_mini {
		width: 142px;
		margin: 0 16px 16px 0;
	}
	.brick.view_mini:nth-child(8n) {
		margin-right: 0;
	}
}









.brick.view_mini .brick__image {
	display: block;
	height: 45px;
	overflow: hidden;
	padding-top: 45px;
	margin-bottom: 13px;
}


.brick.view_mini .brick__content p {
	font-size: 14px;
}









.brick.view_imageSquare {
	height: 322px;
}
.brick.view_imageSquare .brick__image {
	height: 70px;
	padding-top: 70px;
}
.brick.view_imageSquare .brick__content p {
	font-size: 16px;
}

























.table.view_doubleHeight .table__sideColumn .brick {
	height: 902px; /* = x2 + margin */
}
@media screen and (max-width: 1023px) {
	.table.view_doubleHeight .table__sideColumn .brick {
		width: 94.325%;
		margin-right: 5.675%;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.table.view_doubleHeight .table__sideColumn .brick {
		width: 94.407%;
		margin-right: 5.593%;
	}
}
@media screen and (min-width: 1297px) {
	.table.view_doubleHeight .table__sideColumn .brick {
		height: 896px;  /* = x2 + margin */
	}
}







/* обновляем отступы */

@media screen and (max-width: 1023px) {
	.table.view_doubleHeight .table__mainColumn .brick {
		width: 100%;
		margin: 0 0 22px 0;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.table.view_doubleHeight .table__mainColumn .brick {
		width: 48.5%;
		margin: 0 3% 22px 0;
	}
	.table.view_doubleHeight .table__mainColumn .brick:nth-child(2n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.table.view_doubleHeight .table__mainColumn .brick {
		width: 300px;
		margin: 0 22px 22px 0;
	}
	.table.view_doubleHeight .table__mainColumn .brick:nth-child(2n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1297px) {
	.table.view_doubleHeight .table__mainColumn .brick {
		width: 300px;
		margin: 0 16px 16px 0;
	}
	.table.view_doubleHeight .table__mainColumn .brick:nth-child(3n) {
		margin-right: 0;
	}
}









































.brick.view_newslist {
	position: relative;
}
.brick.view_newslist a {
	color: #343434;
	text-decoration: none;
}
.brick.view_newslist a:hover {
	color: #c64a1b;
	text-decoration: underline;
}
.brick.view_newslist .date {
	color: #7e7e7e;
	display: inline-block;
	margin-bottom: 5px;
}


.brick.view_newslist h4 {
	background: #ffd051;
	text-transform: uppercase;
}
.brick.view_newslist h4 a {
	display: block;
	padding: 11px 18px 10px;
	position: relative;
}
.brick.view_newslist h4 a:hover {
	text-decoration: none;
}

.brick.view_newslist h4.view_arrowed a:after {
	display: block;
	position: absolute;
	right: 5px;
	top: 0;
	width: 42px;
    height: 42px;
	content: "";
	background: url(../_images/icons_sprite.png);
	background-position: -5px -223px;
}

.brick.view_newslist .brick__content {
	border: 3px solid #ffd051;
	border-bottom: 0;
	border-top: 0;
	padding: 0 15px;
	height: 95%;
}
.brick.view_newslist .brick__content li {
	padding-top: 10px;
	border-top: 1px dashed #eee;
}
.brick.view_newslist .brick__content li:first-child {
	border-top: none;
}


.brick.view_newslist .brick__footer {
	background: #ffd051;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	padding: 8px 0;
}
.brick.view_newslist .brick__footer:hover {
	text-decoration: none;
}