.brick {
	height: 440px;
	float: left;
	box-sizing: border-box;
}
.brick.view_banner {
	border: 1px dashed #e8e8e8;
	border-top: 0;
	border-bottom: 0;
	text-align: center;
	height: auto;
	font-size: 0;
}
@media screen and (max-width: 1023px) {
	.brick {
		width: 48.5%;
		margin: 0 3% 22px 0;
	}
	.brick:nth-child(2n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.brick {
		width: 32%;
		margin: 0 2% 22px 0;
	}
	.brick:nth-child(3n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.brick {
		width: 300px;
		margin: 0 22px 22px 0;
	}
	.brick:nth-child(3n) {
		margin-right: 0;
	}
}
@media screen and (min-width: 1297px) {
	.brick {
		width: 300px;
		margin: 0 16px 16px 0;
	}
	.brick:nth-child(4n) {
		margin-right: 0;
	}
}









.brick__image {
	height: 95px;
	overflow: hidden;
	padding-top: 95px;
	margin-bottom: 15px;
}
.brick__image img {
	width: 100%;
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.brick__content h6,
.brick__content h6 a {
	color: #a3a3a3;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 5px;
}
.brick__content h4 a:hover {
	color: #c64a1b;
}
.brick__content h2,
.brick__content h2 a {
	color: #000;
	text-decoration: none;
	margin-bottom: 10px;
}
.brick__content h2 a:hover {
	color: #c64a1b;
}

.brick__content p {
	color: #000;
	font-size: 16px;
	margin-bottom: 15px;
}

.brick__counters {
	color: #c1c1c1;
    font-size: 11px;
    font-weight: bold;
}
.brick__counters .count1 {
    padding: 0 14px 0 0;
    position: relative;
}
.brick__counters .count2 {
    padding: 0 18px 0 17px;
    position: relative;
}
.brick__counters .count3 {
    padding: 0 15px 0 12px;
    position: relative;
}
.brick__counters .icon {
	background: url(../_images/icons.png) no-repeat;
    position: absolute;
}
.brick__counters .count1 .icon {
	width: 10px;
    height: 15px;
    background-position: -240px 0;
    right: 0;
    top: 0;
    background-position: -240px -20px;
}
.brick__counters .count2 .icon {
	width: 13px;
    height: 13px;
    background-position: -260px 0;
    right: 0;
    top: 2px;
    background-position: -260px -20px;
    top: 2px;
}
.brick__counters .count3 .icon {
	width: 11px;
    height: 9px;
    background-position: -280px 0;
    right: 0;
    top: 3px;
    background-position: -280px -20px;
}