.brick {
	height: 400px;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
@media screen and (max-width: 1023px) {
	.brick {
		width: 47%;
		margin: 0 3% 22px 0;
	}
/*	.brick:nth-child(2n) {
		margin-right: 0;
	}*/
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.brick {
		width: 31.33333%;
		margin: 0 2% 22px 0;
	}
/*	.brick:nth-child(3n) {
		margin-right: 0;
	}*/
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.brick {
		width: 300px;
		margin: 0 22px 22px 0;
	}
/*	.brick:nth-child(3n) {
		margin-right: 0;
	}*/
}
@media screen and (min-width: 1297px) {
	.brick {
		width: 300px;
		margin: 0 16px 16px 0;
	}
/*	.brick:nth-child(4n) {
		margin-right: 0;
	}*/
}

















/* для желтого столбца на всю высоту */

.brick.view_2x {
	height: 822px; /* = x2 + margin */
}
@media screen and (min-width: 1297px) {
	.brick.view_2x {
		height: 816px;  /* = x2 + margin */
	}
}

.brick.view_3x {
	height: 1244px; /* = x3 + 2*margin */
}
@media screen and (min-width: 1297px) {
	.brick.view_3x {
		height: 1232px;  /* = x3 + 2*margin */
	}
}















.brick.view_mini {
	height: 188px;
}
@media screen and (max-width: 1023px) {
	.brick.view_mini {
		width: 22%;
		margin: 0 3% 22px 0;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.brick.view_mini {
	    width: 14.66667%;
		margin: 0 2% 22px 0;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.brick.view_mini {
		width: 139px;
		margin: 0 22px 22px 0;
	}
}
@media screen and (min-width: 1297px) {
	.brick.view_mini {
		width: 142px;
		margin: 0 16px 16px 0;
	}
}






















.brick.view_authors {
	height: 220px;
}
@media screen and (max-width: 1023px) {
	.brick.view_authors {
		height: 270px;
		width: 22%;
		margin: 0 3% 22px 0;
	}
}
/*@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.brick.view_authors {
        width: 31.33333%;
		margin: 0 2% 22px 0;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.brick.view_authors {
		width: 300px;
		margin: 0 22px 22px 0;
	}
}
@media screen and (min-width: 1297px) {
	.brick.view_authors {
		width: 300px;
		margin: 0 16px 16px 0;
	}
}
*/

