.categoryFilter__wrapper {
	display: inline-block;
	margin-left: 20px;
	position: relative;
}

.categoryFilter__filter {
	position: relative;
	top: -4px;
	background: #ffd051;
	color: #000;
	padding: 8px 33px 8px 15px;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.categoryFilter__filter .icon {
	position: absolute;
	right: 15px;
	top: 16px;
	display: inline-block;
	border: 5px solid transparent;
	border-top: 5px solid #000;
}
.categoryFilter__filter.state_open .icon {
	top: 10px;
	border: 5px solid transparent;
	border-bottom: 5px solid #000;
}
.categoryFilter__closeFilter {
	position: absolute;
	top: -3px;
	right: 12px;
	color: #fff;
	font-size: 38px;
	font-weight: normal;
	text-decoration: none;
}
.categoryFilter__closeFilter:hover {
	color: #fff;
}
.categoryFilter__info {
	position: relative;
	top: -4px;
	margin-left: 4px;
	color: #667686;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	text-transform: none;
	display: none;
}
.categoryFilter__info.state_open {
	display: inline;
}

.filtersList__wrapper {
	font-family: 'PT Sans', sans-serif;
	width: 750px;
	background: #667686;
	padding: 30px;
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 10;
	display: none;
}


.filtersList__wrapper.state_open {
	display: block;
}
.filtersList__wrapper .categoryFilter__filter {
	margin-left: 0;
}
.filtersList__item {
	border-bottom: 1px solid #667686;
	position: relative;
}
.filtersList__link {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	display: block;
	padding: 6px 28px 8px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.filtersList__link:hover {
	background: #2a3436;
	color: #fff;
}
.filtersList__item.state_selected {
	background: #ffd051;
}
.filtersList__item.state_selected .filtersList__link:after {
	content: '\0274c';
	display: block;
	position: absolute;
	right: 13px;
	top: 7px;
	font-size: 16px;
	font-weight: normal;
}
.filtersList__item.state_selected .filtersList__link {
	color: #000;
}
.filtersList__item.state_selected:hover .filtersList__link {
	background: #ffd051;
}
.categoryFilter__filter .filtersList__link {
	color: #000;
	margin-bottom: 28px;
	display: inline;
}
.view_allFilters {
	display: inline-block;
	background: #ffd051;
	margin-bottom: 29px;
	padding: 0 15px;
}
.view_allFilters .filtersList__link {
	padding-left: 0;
	padding-right: 0;
	color: #000;
}
.view_allFilters .filtersList__link:hover {
	background: #ffd051;
	color: #000;
}
.filtersList {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	margin-bottom: 20px;
}
.categoryFilter__applyButton {
	background: #fff;
	text-decoration: none;
	font-size: 16px;
	color: #000;
	padding: 5px 15px;
}