.categoryFilter {
	position: relative;
	top: -4px;
	background: #ffd051;
	color: #000;
	padding: 8px 33px 8px 15px;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.newsHeaderAndFilter .categoryFilter {
	margin-left: 20px;
 }
.categoryFilter .icon {
	position: absolute;
	right: 15px;
	top: 16px;
	display: inline-block;
	border: 5px solid transparent;
	border-top: 5px solid #000;
}
.categoryFilter.state_open .icon {
	top: 10px;
	border: 5px solid transparent;
	border-bottom: 5px solid #000;
}
.categoryFilter__info {
	position: relative;
	top: -4px;
	margin-left: 4px;
	color: #667686;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	text-transform: none;
	display: none;
}
.categoryFilter__info.state_open {
	display: inline;
}

.filtersList__wrapper {
	width: 750px;
	background: #667686;
	padding: 30px;
	position: absolute;
	top: 35px;
	right: 0;
	z-index: 10;
	display: none;
}
.filtersList__wrapper.state_open {
	display: block;
}
.filtersList__wrapper .categoryFilter {
	margin-left: 0;
}
.filtersList__item {
	line-height: 16px;
	margin-bottom: 1px;
	position: relative;
}
.filtersList__link {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	display: block;
	padding: 6px 28px 8px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.filtersList__link:hover {
	background: #ffd051;
	color: #000;
}
.filtersList__item.state_selected {
	background: #ffd051;
}
.filtersList__item.state_selected:after {
	content: '\0274c';
	display: inline-block;
	position: absolute;
	right: 18px;
	top: 7px;
	width: 7px;
	height: 7px;
	font-size: 16px;
	font-weight: normal;
}
.filtersList__item.state_selected .filtersList__link {
	color: #000;
}
.categoryFilter .filtersList__link {
	color: #000;
	margin-bottom: 20px;
	display: inline;
}
.filtersList .categoryFilter {
	margin-bottom: 30px;
	padding: 8px 15px;
	display: inline-block;
}
.filtersList .categoryFilter .filtersList__link {
	padding-left: 0;
	padding-right: 0;
}
.filtersList {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	margin-bottom: 20px;
}
.categoryFilter__applyButton {
	background: #fff;
	text-decoration: none;
	font-size: 16px;
	color: #000;
	padding: 5px 15px;
}