.comments {
	border: 1px dashed #e8e8e8;
	border-left: none;
	border-right: none;
	padding: 20px 0;
}



.comments h2 {
	text-transform: uppercase;
	margin-bottom: 0px;
}
.comments__expandButton {
	display: inline-block;
	margin-left: 10px;
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
   	background: #ffd051;
	width: 38px;
	height: 21px;
	position: relative;
}
.comments__expandButton:after {
	content: "";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: 44%;
    display: inline-block;
    border: 5px solid transparent;
    border-top: 5px solid #000;
}
.comments__expandButton.state_open:after {
    top: 19%;
    border: 5px solid transparent;
    border-bottom: 5px solid #000;
}


.comments__login {
	margin-bottom: 15px;
}
.comments__login b {
	display: inline-block;
	margin-bottom: 15px;

}






.commentsContent {
	display: none;
	margin-top: 15px;
}
.commentsContent.state_open {
	display: block;
}






.articleSocials {
	margin-bottom: 10px;
}


























.comment__item {
	margin-bottom: 17px;
    background: #f5f5f5;
    padding: 13px 16px;
}
.comment__date {
    float: left;
    color: #c64a1b;
    font-size: 14px;
}
.comment__date a {
    display: inline-block;
    width: auto;
    color: #b1b1b1;
    margin-bottom: 5px;
    text-decoration: none;
    margin-left: 10px;
}
.comment__date a:hover {
    color: #c64a1b;
}
.comment__likes {
    color: #667887;
    float: right;
    width: auto;
    font-size: 13px;
}
.comment__likes.view_up {
    color: #84c61b;
}
.comment__likes.view_down {
    color: #c64a1b;
}
.comment__text {
    clear: both;
    padding: 2px 0 0;
    font-size: 15px;
}
.comment__text p {
	margin: 0;
}