html {
	font-size: 62.5%; /* =10px */
	width: 100%;
	min-width: 768px;


}
body {
	line-height: 1.2;
	font-size: 1.6rem; /* 1.6*10px = 16px */
	font-family: 'PT Sans', sans-serif;
	min-width: 768px;
	width: 100%;
	background: #eee;
}





hr {
	border: 0;
	height: 0;
	margin: 0;
	border-top: 1px solid #e5e5e5;
}





b {
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h6 {
	font-size: 14px; /* in use */
}
h5 {
	font-size: 16px; /* in use */
}
h4 {
	font-size: 18px;
}
h3 {
	font-size: 20px;
}
h2 {
	font-size: 24px; /* in use */
}
h1 {
	font-size: 28px; /* in use */
	margin-bottom: 20px;
}
















/*a {
	text-decoration: underline;
	color: #0e53b2;
}*/
a:hover {
    color: #c64a1b;
}



/* плавное изменение прозрачности  placeholder-а при фокусе */
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder, 
input[type="password"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.2s ease; color:#d2d2d2; font-family: 'PT Sans', sans-serif;}
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder, 
input[type="number"]::-moz-placeholder, 
input[type="password"]::-moz-placeholder, 
input[type="tel"]::-moz-placeholder, 
input[type="url"]::-moz-placeholder                {opacity: 1; transition: opacity 0.2s ease; color:#d2d2d2; font-family: 'PT Sans', sans-serif;} /* Firefox 19+ */
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder, 
input[type="number"]:-moz-placeholder, 
input[type="password"]:-moz-placeholder, 
input[type="tel"]:-moz-placeholder, 
input[type="url"]:-moz-placeholder                 {opacity: 1; transition: opacity 0.2s ease; color:#d2d2d2; font-family: 'PT Sans', sans-serif;} /* Firefox 18- */
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder, 
input[type="number"]:-ms-input-placeholder, 
input[type="password"]:-ms-input-placeholder, 
input[type="tel"]:-ms-input-placeholder, 
input[type="url"]:-ms-input-placeholder            {opacity: 1; transition: opacity 0.2s ease; color:#d2d2d2; font-family: 'PT Sans', sans-serif;}
input[type="text"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder, 
input[type="number"]:focus::-webkit-input-placeholder, 
input[type="password"]:focus::-webkit-input-placeholder, 
input[type="tel"]:focus::-webkit-input-placeholder, 
input[type="url"]:focus::-webkit-input-placeholder {opacity: 0;}
input[type="text"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder, 
input[type="number"]:focus::-moz-placeholder, 
input[type="password"]:focus::-moz-placeholder, 
input[type="tel"]:focus::-moz-placeholder, 
input[type="url"] :focus::-moz-placeholder         {opacity: 0;}
input[type="text"]:focus:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder, 
input[type="number"]:focus:-moz-placeholder, 
input[type="password"]:focus:-moz-placeholder, 
input[type="tel"]:focus:-moz-placeholder, 
input[type="url"]:focus:-moz-placeholder           {opacity: 0;}
input[type="text"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder, 
input[type="number"]:focus:-ms-input-placeholder, 
input[type="password"]:focus:-ms-input-placeholder, 
input[type="tel"]:focus:-ms-input-placeholder, 
input[type="url"]:focus:-ms-input-placeholder      {opacity: 0;}


/* дефолтные кнопки */
button[type="submit"],
input[type="submit"] {
	background: #0e53b2;
	color: #fff;
	cursor: pointer;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
button[type="submit"]:hover,
input[type="submit"]:hover {
	opacity: .85;
}











/* лэйблы, чекбоксы, радиобатоны */
/*label {
	color: #747474;
	font-size: 13px;
	margin-bottom: 7px;
	display: inline-block;
}
label.checkboxWrap,
label.radioWrap {
	color: #000;
	cursor: pointer;
	position: relative;
	padding-left: 21px;
}
.checkboxWrap input[type="checkbox"],
.radioWrap input[type="radio"]{
	display: none;
}
.radioWrap:before,
.checkboxWrap:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 14px;
	height: 14px;
	display: inline-block;
	cursor: pointer;
	background: url("../images/sprite_forms.png");
}
.checkboxWrap:before {
	background-position: 0 0;
}
.checkboxWrap.checked:before {
	background-position: 0 -14px;
}
.radioWrap:before {
	background-position: 14px 0;
}
.radioWrap.checked:before {
	background-position: 14px -14px;
}*/


















/*
768 - минимальная ширина, дальше не уменьшается

768-1023 - таблетка, резина, 2 колонки
1024 - таблетка, резина, 3 колонки

1024 - js? переход на моб девайсы скриптом?

1024-1279 - десктоп, фиксированная ширина 1024, 3 колонки
1280.. - десктоп, фиксированная ширина 1280, 4 колонки
*/



/* для плавающих блоков */
.clearfix:after {
	display: block;
	height: 0;
	clear: both;
	content: '';
	visibility: hidden;
}


/* класс определяет только ширину */
.wrapper { 
	margin: 0 auto;
	width: 100%; /* для 768 и 1024 одинаково */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.wrapper { 
		width: 1024px;
	}
}
@media screen and (min-width: 1297px) {
	.wrapper { 
		width: 1280px;
	}
}

























/* классы-модификаторы для отступов */
.paddings_side {
	padding-left: 40px;	
	padding-right: 40px;	
}
@media screen and (min-width: 1297px) {
	.paddings_side {
		padding-left: 16px;	
		padding-right: 16px;	
	}
}

.padding_top {
	padding-top: 20px;
}
.padding_bottom {
	padding-bottom: 20px;
}






.contentBackground_white {
	background: #fff;
}
.contentBackground_grey {
	background: #f7f7f7;
}






































.pageBottom {
	text-align: center;
}












.moreButton {
	display: inline-block;
	padding: 22px 37px 22px 71px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	margin-bottom: 20px;
	position: relative;
}
.moreButton:after {
	position: absolute;
	content: "";
	display: block;
	top: 13px;
	left: 28px;
	background: url(../_images/icons_sprite.png) 0 -103px;
	width: 32px;
	height: 32px;
}
.moreButton span {
	border-bottom: 1px dashed #949494;
}
.moreButton:hover span {
	border-bottom: none;
}





















.bottomDatapicker {
	text-align: center;
}





.bottomDatapicker label {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: #a3a3a3;

	margin: 0 10px;
}








/* input */
.datepicker {
	border: 1px solid #d4d4d4;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	padding: 6px 35px 6px 13px;
	width: 150px;
	background: url(../_images/icons_sprite.png) 111px -139px;
}




/* стили самого календаря */
.ui-datepicker {
	font-family: 'PT Sans', sans-serif;
	border: none;
	border-radius: 0;
	box-shadow: 0 8px 21px rgba(0,0,0,.5);
}
.ui-datepicker-header {
	border: none;
	border-radius: 0;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
    border: 1px solid #e1e1e1;
}
.ui-datepicker-next,
.ui-datepicker-prev {
	border: 0 !important;
	background: none !important;
	top: 2px !important;
	cursor: pointer;
}


































.borderedSection {
	border-color: #d4d4d4;
	border-width: 3px 0 1px;
	border-style: solid;
	margin-bottom: 20px;
}

.borderedSection.view_authorMaterials {
	padding: 9px 15px 5px;
	margin-left: 214px;
	width: calc(100% - 229px);
	position: absolute;
	bottom: -20px;
}

.borderedSection__separatedItem {
	border-top: 1px solid  #d4d4d4;
}
.borderedSection__separatedItem:first-child {
	border-top: none;
}