html {
	font-size: 62.5%; /* =10px */
	width: 100%;
	min-width: 768px;


}
body {
	line-height: 1.2;
	font-size: 1.6rem; /* 1.6*10px = 16px */
	font-family: 'PT Sans', sans-serif;
	min-width: 768px;
	width: 100%;
	background: #eee;
}





hr {
	border: 0;
	height: 0;
	margin: 0;
	border-top: 1px solid #e5e5e5;
}





b {
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h6 {
	font-size: 14px; /* in use */
}
h5 {
	font-size: 16px; /* in use */
}
h4 {
	font-size: 18px; /* in use */
    font-family: 'Roboto Slab', serif;
}
h3 {
	font-size: 20px;
}
h2 {
    font-family: 'Roboto Slab', serif;
	font-size: 23px; /* in use */
	margin-bottom: 15px;
}
h1 {
    font-family: 'Roboto Slab', serif;
	font-size: 28px; /* in use */
	margin-bottom: 20px;
	text-transform: uppercase;
}
h1.view_centred {
	text-align: center;
}



.threeDot {
	position: relative;
    display: inline-block;
    width: .15em;
    height: .15em;	
    margin: 0 .6em;
    background: #ffd051;
}
h1 .threeDot {
	-webkit-transform: translateY(-.3em);
    -moz-transform: translateY(-.3em);
    -ms-transform: translateY(-.3em);
    transform: translateY(-.3em);	
}
.threeDot:before,
.threeDot:after {
	content: "";
   	position: absolute;
    width: .15em;
    height: .15em;	
    background: #ffd051;
    top: 0;
}
.threeDot:before {
	left: 10px;
}
.threeDot:after {
	right: 10px;
}
.contentBackground_blue .threeDot,
.contentBackground_blue .threeDot:before,
.contentBackground_blue .threeDot:after {
	 background: #9caab3;
}







a:hover {
    color: #c64a1b !important;
}



/* плавное изменение прозрачности  placeholder-а при фокусе */
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder, 
input[type="password"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.2s ease; color:#d2d2d2; font-family: 'PT Sans', sans-serif;}
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder, 
input[type="number"]::-moz-placeholder, 
input[type="password"]::-moz-placeholder, 
input[type="tel"]::-moz-placeholder, 
input[type="url"]::-moz-placeholder                {opacity: 1; transition: opacity 0.2s ease; color:#d2d2d2; font-family: 'PT Sans', sans-serif;} /* Firefox 19+ */
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder, 
input[type="number"]:-moz-placeholder, 
input[type="password"]:-moz-placeholder, 
input[type="tel"]:-moz-placeholder, 
input[type="url"]:-moz-placeholder                 {opacity: 1; transition: opacity 0.2s ease; color:#d2d2d2; font-family: 'PT Sans', sans-serif;} /* Firefox 18- */
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder, 
input[type="number"]:-ms-input-placeholder, 
input[type="password"]:-ms-input-placeholder, 
input[type="tel"]:-ms-input-placeholder, 
input[type="url"]:-ms-input-placeholder            {opacity: 1; transition: opacity 0.2s ease; color:#d2d2d2; font-family: 'PT Sans', sans-serif;}
input[type="text"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder, 
input[type="number"]:focus::-webkit-input-placeholder, 
input[type="password"]:focus::-webkit-input-placeholder, 
input[type="tel"]:focus::-webkit-input-placeholder, 
input[type="url"]:focus::-webkit-input-placeholder {opacity: 0;}
input[type="text"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder, 
input[type="number"]:focus::-moz-placeholder, 
input[type="password"]:focus::-moz-placeholder, 
input[type="tel"]:focus::-moz-placeholder, 
input[type="url"] :focus::-moz-placeholder         {opacity: 0;}
input[type="text"]:focus:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder, 
input[type="number"]:focus:-moz-placeholder, 
input[type="password"]:focus:-moz-placeholder, 
input[type="tel"]:focus:-moz-placeholder, 
input[type="url"]:focus:-moz-placeholder           {opacity: 0;}
input[type="text"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder, 
input[type="number"]:focus:-ms-input-placeholder, 
input[type="password"]:focus:-ms-input-placeholder, 
input[type="tel"]:focus:-ms-input-placeholder, 
input[type="url"]:focus:-ms-input-placeholder      {opacity: 0;}


/* дефолтные кнопки */
button[type="submit"],
input[type="submit"] {
	background: #0e53b2;
	color: #fff;
	cursor: pointer;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
button[type="submit"]:hover,
input[type="submit"]:hover {
	opacity: .85;
}











/* лэйблы, чекбоксы, радиобатоны */
/*label {
	color: #747474;
	font-size: 13px;
	margin-bottom: 7px;
	display: inline-block;
}
label.checkboxWrap,
label.radioWrap {
	color: #000;
	cursor: pointer;
	position: relative;
	padding-left: 21px;
}
.checkboxWrap input[type="checkbox"],
.radioWrap input[type="radio"]{
	display: none;
}
.radioWrap:before,
.checkboxWrap:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 14px;
	height: 14px;
	display: inline-block;
	cursor: pointer;
	background: url("../images/sprite_forms.png");
}
.checkboxWrap:before {
	background-position: 0 0;
}
.checkboxWrap.checked:before {
	background-position: 0 -14px;
}
.radioWrap:before {
	background-position: 14px 0;
}
.radioWrap.checked:before {
	background-position: 14px -14px;
}*/


















/*
768 - минимальная ширина, дальше не уменьшается

768-1023 - таблетка, резина, 2 колонки
1024 - таблетка, резина, 3 колонки

1024 - js? переход на моб девайсы скриптом?

1024-1279 - десктоп, фиксированная ширина 1024, 3 колонки
1280.. - десктоп, фиксированная ширина 1280, 4 колонки
*/



/* для плавающих блоков */
.clearfix:after {
	display: block;
	height: 0;
	clear: both;
	content: '';
	visibility: hidden;
}


/* класс определяет только ширину */
.wrapper { 
	margin: 0 auto;
	width: 100%; /* для 768 и 1024 одинаково */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.wrapper { 
		width: 1024px;
	}
}
@media screen and (min-width: 1297px) {
	.wrapper { 
		width: 1280px;
	}
}

























/* классы-модификаторы для отступов */
.paddings_side {
	padding-left: 40px;	
	padding-right: 40px;	
}
@media screen and (min-width: 1297px) {
	.paddings_side {
		padding-left: 16px;	
		padding-right: 16px;	
	}
}

.padding_top {
	padding-top: 20px;
}
.padding_bottom {
	padding-bottom: 20px;
}






.contentBackground_white {
	background: #fff;
}
.contentBackground_grey {
	background: #f7f7f7;
}
.contentBackground_black {
	background: #000;
	color: #fff;
}
.contentBackground_blue {
	background: #cee0ed;
}
.contentBackground_darker {
	background: #232323;
}
.contentBackground_dark {
	background: #252525;
	color: #fff;
}




































.pageBottom {
	text-align: center;
}












.moreButton {
	display: inline-block;
	padding: 22px 37px 22px 71px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	margin-bottom: 20px;
	position: relative;
}
.moreButton:after {
	position: absolute;
	content: "";
	display: block;
	top: 13px;
	left: 28px;
	background: url(../_images/icons_sprite.png) 0 -103px;
	width: 32px;
	height: 32px;
}
.moreButton span {
	border-bottom: 1px dashed #949494;
}
.moreButton:hover span {
	border-bottom: none;
}





















.bottomDatapicker {
	text-align: center;
}





.bottomDatapicker label {
	font-weight: bold;
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	color: #a3a3a3;
	margin: 0 10px 5px;
}
@media screen and (max-width: 1023px) {
	.weather .bottomDatapicker label {
		display: block;
	}
}







/* input */
.datepicker {
	border: 1px solid #d4d4d4;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	padding: 6px 35px 6px 13px;
	width: 150px;
	background: url(../_images/icons_sprite.png) 111px -139px;
	margin-bottom: 10px;
}




/* стили самого календаря */
.ui-datepicker {
	font-family: 'PT Sans', sans-serif;
	border: none;
	border-radius: 0;
	box-shadow: 0 8px 21px rgba(0,0,0,.5);
}
.ui-datepicker-header {
	border: none;
	border-radius: 0;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
    border: 1px solid #e1e1e1;
}
.ui-datepicker-next,
.ui-datepicker-prev {
	border: 0 !important;
	background: none !important;
	top: 2px !important;
	cursor: pointer;
}









/* табы */

.ui-tabs{
	border: none;
	border-radius: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
}
.ui-tabs .ui-tabs-nav {
	border-radius: 0;
	border: none;
	background: #eeeeee;
	padding: 0;
	display: table;
	width: 100.1%;
}
.tabs__wrapper .ui-tabs-nav:before, 
.tabs__wrapper .ui-tabs-nav:after {
	display: none;
}
.ui-tabs .ui-tabs-nav li {
	height: 51px;
	white-space: normal;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    margin: 0;
    background: #eeeeee;
    border: none;
	border-radius: 0;
	font-weight: bold;
	font-size: 18px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin: 0;
    background: #fff;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	color: #8d8d8d;
    padding: 0 16px;
    line-height: 1.05;
    display: flex;
    height: 51px;
    align-items: center;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active  .ui-tabs-anchor {
    color: #c64a1b;
}
.ui-tabs .ui-tabs-panel {
    padding: 7px 16px;
}





































.borderedSection {
	border-color: #d4d4d4;
	border-width: 3px 0 1px;
	border-style: solid;
	margin-bottom: 20px;
}

.borderedSection.view_authorMaterials {
	padding: 9px 10px 4px;
	position: absolute;
	bottom: -20px;
}
@media screen and (max-width: 1023px) {
	.borderedSection.view_authorMaterials {
	    margin-left: 260px;
	    width: calc(100% - 280px);
	}
}
@media screen and (min-width: 1024px) and (max-width: 1296px) {
	.borderedSection.view_authorMaterials {
		margin-left: 324px;
		width: calc(100% - 344px);
	}
}
@media screen and (min-width: 1297px) {
	.borderedSection.view_authorMaterials {
		margin-left: 316px;
		width: calc(100% - 336px);
	}
}


.borderedSection__separatedItem {
	border-top: 1px solid  #d4d4d4;
}
.borderedSection__separatedItem:first-child {
	border-top: none;
}
.borderedSection.view_authorMaterials .textTabs {
	margin-right: 0;
}























.table {
	display: table;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.table__sideColumn,
.table__mainColumn {
	display: table-cell;
	vertical-align: top;
/*	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;*/
}


.table__sideColumn {
	width: 300px;
	position: relative;
}
.table__sideColumn .brick {
	margin-right: 0;
	width: 100%;
}


.table__sideColumn:last-child {
	padding-left: 20px;
}
.table__sideColumn:first-child {
	padding-right: 20px;
}
@media screen and (max-width: 1023px) {
	.table__sideColumn {
		width: 270px;
	}
/*	.table__sideColumn:last-child {
		padding-left: 3%;
	}
	.table__sideColumn:first-child {
		padding-right: 3%;
	}*/
}
/*
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.table__sideColumn:last-child {
		padding-left: 2%;
	}
	.table__sideColumn:first-child {
		padding-right: 2%;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.table__sideColumn:last-child {
		padding-left: 22px;
	}
	.table__sideColumn:first-child {
		padding-right: 22px;
	}
}*/
@media screen and (min-width: 1297px) {
	.table__sideColumn:last-child {
		padding-left: 16px;
	}
	.table__sideColumn:first-child {
		padding-right: 16px;
	}
}





/* ОСНОВНАЯ КОЛОНКА - обновляем отступы */
@media screen and (max-width: 1023px) {
	.table__sideColumn .brick {
		height: 440px;
	}
	.table__mainColumn .brick {
		width: 97%;
		margin: 0 0 22px 0;
		height: 360px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.table__mainColumn .brick {
		width: 47%;
		margin: 0 3% 22px 0;
	}
}





