html {
	font-size: 62.5%; /* =10px */
	width: 100%;
	min-width: 768px;
	/*height: 100%;*/
    /*min-height: 100%;*/
    height: 99.9%;
	/*will-change: height;*/
	/*-webkit-overflow-scrolling: touch;*/
    /*-webkit-tap-highlight-color: transparent;*/
    position: relative;

}
body {
	line-height: 1.2;
	font-size: 1.6rem; /* 1.6*10px = 16px */
	font-family: 'Roboto', sans-serif;
	min-width: 768px;
	width: 100%;
	/*height: 100%;*/
    height: 99.9%;
	background: #eee;
	/*will-change: height;*/
	zoom: 1;
	overflow: auto;
    overflow-x: hidden;
}
/*body * {
	-webkit-overflow-scrolling: touch;
	zoom: 1;
	-webkit-transform: translate3d(0,0,0);
}*/

a {
	color: #000;
    -webkit-transition: color 	.15s ease-out,
    					opacity .15s ease-out;
    -moz-transition: 	color 	.15s ease-out,
    					opacity .15s ease-out;
    transition: 		color 	.15s ease-out,
    					opacity .15s ease-out;

}
a:hover {
    color: #c64a1b;
}

.clickable {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 12;
	/*zoom: 1;*/
    /*background: transparent;*/
    /*display: none;*/
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
    /*-webkit-backface-visibility: hidden;*/
    /*background: (0,0,0,0);*/
}




i {
	font-style: italic;
}
/**:before {
	will-change: transform;
}*/

hr {
	border: 0;
	height: 0;
	margin: 0;
	border-top: 1px solid #e5e5e5;
}
hr.view__bold {
    border-top: 3px solid #d4d4d4;
}
hr.view__dashed {
    border-top: 1px dashed #d4d4d4;
}







/* retina */
/* пример
<img src="_images/logo.png" class="x1" width="154" height="60" alt="РИДУС">
<img src="_images/logo_2x.png" class="x2" width="154" height="60" alt="РИДУС">
рекомендую все фото сделать так же
так на НЕретине не будет съедаться лишний траффик, 
а на ретине будет хорошая четкость */
.x2 {
    display: none;
}
.x1 {
    display: inline-block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.x2 {
	    display: inline-block;
	}
	.x1 {
	    display: none;
	}
}




b {
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h6 {
	font-size: 14px; /* in use */
}
h5 {
	font-size: 15px; /* in use */
}
h4 {
	font-size: 18px; /* in use */
    font-family: 'Roboto Slab', serif;
}
h3 {
    font-family: 'Roboto Slab', serif;
	font-size: 20px;
	margin-bottom: 12px;
}
h2 {
    font-family: 'Roboto Slab', serif;
	font-size: 22px; /* in use */
	margin-bottom: 15px;
}
h1 {
    font-family: 'Roboto Slab', serif;
	font-size: 28px; /* in use */
	margin-bottom: 20px;
	text-transform: uppercase;
}
h1.view_centred {
	text-align: center;
}


.view_unbold {
	font-weight: normal;
}
.view_grey {
	color: #a3a3a3;
}
.view_h5 {
	font-size: 15px;
}



.threeDot {
	position: relative;
    display: inline-block;
    width: .15em;
    height: .15em;	
    margin: 0 .5em;
    background: #ffd051;
}
.threeDot:first-child {
    margin: 0 .6em 0 .5em;
}
.threeDot:last-child {
    margin: 0 .5em 0 .6em;
}
h1 .threeDot {
	-webkit-transform: translateY(-.3em);
    -moz-transform: translateY(-.3em);
    -ms-transform: translateY(-.3em);
    transform: translateY(-.3em);	
}
.threeDot:before,
.threeDot:after {
	content: "";
   	position: absolute;
    width: .15em;
    height: .15em;	
    background: #ffd051;
    top: 0;
}
.threeDot:before {
	left: 10px;
}
.threeDot:after {
	right: 10px;
}
/* интересное */
.contentBackground_gunmetal .contentBackground_blue .threeDot,
.contentBackground_gunmetal .contentBackground_blue .threeDot:before,
.contentBackground_gunmetal .contentBackground_blue .threeDot:after,
.contentBackground_red .contentBackground_blue .threeDot,
.contentBackground_red .contentBackground_blue .threeDot:before,
.contentBackground_red .contentBackground_blue .threeDot:after,
.contentBackground_deepblue .contentBackground_blue .threeDot,
.contentBackground_deepblue .contentBackground_blue .threeDot:before,
.contentBackground_deepblue .contentBackground_blue .threeDot:after,
.contentBackground_blue .threeDot,
.contentBackground_blue .threeDot:before,
.contentBackground_blue .threeDot:after {
	 background: #9caab3;
}
/* технологии */
.contentBackground_gunmetal .contentBackground_deepblue .threeDot,
.contentBackground_gunmetal .contentBackground_deepblue .threeDot:before,
.contentBackground_gunmetal .contentBackground_deepblue .threeDot:after,
.contentBackground_blue .contentBackground_deepblue .threeDot,
.contentBackground_blue .contentBackground_deepblue .threeDot:before,
.contentBackground_blue .contentBackground_deepblue .threeDot:after,
.contentBackground_red .contentBackground_deepblue .threeDot,
.contentBackground_red .contentBackground_deepblue .threeDot:before,
.contentBackground_red .contentBackground_deepblue .threeDot:after,
.contentBackground_deepblue .threeDot,
.contentBackground_deepblue .threeDot:before,
.contentBackground_deepblue .threeDot:after {
	 background: #669dc3;
}
/* происшествия */
.contentBackground_gunmetal .contentBackground_red .threeDot,
.contentBackground_gunmetal .contentBackground_red .threeDot:before,
.contentBackground_gunmetal .contentBackground_red .threeDot:after,
.contentBackground_blue .contentBackground_red .threeDot,
.contentBackground_blue .contentBackground_red .threeDot:before,
.contentBackground_blue .contentBackground_red .threeDot:after,
.contentBackground_deepblue .contentBackground_red .threeDot,
.contentBackground_deepblue .contentBackground_red .threeDot:before,
.contentBackground_deepblue .contentBackground_red .threeDot:after,
.contentBackground_red .threeDot,
.contentBackground_red .threeDot:before,
.contentBackground_red .threeDot:after {
	 background: #f00;
}
/* происшествия темнее */
.contentBackground_blue .contentBackground_gunmetal .threeDot,
.contentBackground_blue .contentBackground_gunmetal .threeDot:before,
.contentBackground_blue .contentBackground_gunmetal .threeDot:after,
.contentBackground_deepblue .contentBackground_gunmetal .threeDot,
.contentBackground_deepblue .contentBackground_gunmetal .threeDot:before,
.contentBackground_deepblue .contentBackground_gunmetal .threeDot:after,
.contentBackground_red .contentBackground_gunmetal .threeDot,
.contentBackground_red .contentBackground_gunmetal .threeDot:before,
.contentBackground_red .contentBackground_gunmetal .threeDot:after,
.contentBackground_gunmetal .threeDot,
.contentBackground_gunmetal .threeDot:before,
.contentBackground_gunmetal .threeDot:after {
	 background: #f00;
}





.text { 
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
	color: #000;
}
p { 
	margin-bottom: 20px;
}












/* нумерованный список - большие цифры в черных квадратах */
/* список в живой трансляции с временем */
.numeredList,
.liveList {
    padding-bottom: 30px;
    list-style-type: decimal;
    list-style-position: inside;
}
.numeredList__item,
.liveList__item {
    margin-bottom: 20px;
    list-style-type: none;
    position: relative;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
}
.numeredList__item {
    counter-increment: step-counter;
    padding-left: 45px;
}
.liveList__item {
    padding-left: 70px;
}
.numeredList__item:before,
.liveList__item:before {
    content: counter(step-counter);
    position: absolute;
    left: 0;
    top: -3px;
    text-align: center;
    padding: 3px 0;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.numeredList__item:before {
    letter-spacing: -1px;
    min-width: 27px;
}
.liveList__item:before {
    content: attr(data-time);
    width: 56px;
}
.liveList__item:after {
    content: "";
    position: absolute;
    left: 56px;
    top: 6px;
    border: 5px solid transparent;
    border-left: 5px solid #000;
}

/* ненумерованный список - красные квадраты */
.squareList__item {
    margin-bottom: 15px;
    padding-left: 25px;
    list-style-type: none;
    position: relative;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
}
.squareList__item:before {
    position: absolute;
    content: "";
    left: 0;
    width: 11px;
    height: 11px;
    background: #c64a1b;
    top: 6px;
}










blockquote {
	display: block;
    font-style: italic;
    margin-bottom: 20px;
    position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    padding: 12px 23px 12px 54px;
    text-align: justify;
    background: #ededed;
    font-weight: 300;
    font-style: italic;

}
blockquote:before {
	position: absolute;
    width: 50px;
    height: 0px;
    text-align: center;
    font-size: 78px;
    font-style: normal;
    font-weight: bold;
    color: #b7b7b7;
}
blockquote:before {
    content: "\201C";
    left: 2px;
    top: -9px;
}

blockquote b {
	display: block;
	text-align: right;
	font-style: normal;
	margin-top: 10px;
	font-size: 15px;
	color: #4d4d4d;
}














































/*
768 - минимальная ширина, дальше не уменьшается

768-1023 - таблетка, резина, 2 колонки
1024 - таблетка, резина, 3 колонки

1024 - js? переход на моб девайсы скриптом?

1024-1279 - десктоп, фиксированная ширина 1024, 3 колонки
1280.. - десктоп, фиксированная ширина 1280, 4 колонки
*/



/* для плавающих блоков */
.clearfix:after {
	display: block;
	height: 0;
	clear: both;
	content: '';
	visibility: hidden;
}


/* класс определяет только ширину */
.wrapper { 
	margin: 0 auto;
	width: 100%; /* для 768 и 1024 одинаково */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.wrapper { 
		width: 1024px;
	}
}
@media screen and (min-width: 1280px) {
	.wrapper { 
		width: 1260px;
	}
}

























/* классы-модификаторы для отступов */
.paddings_side {
	padding-left: 40px;	
	padding-right: 40px;	
}
@media screen and (min-width: 1280px) {
	.paddings_side {
		padding-left: 16px;	
		padding-right: 16px;	
	}
}

.padding_top {
	padding-top: 20px;
}
.padding_bottom {
	padding-bottom: 20px;
}
.margin_bottom {
	margin-bottom: 20px;
}





.contentBackground_white {
	background: #fff;
}
.contentBackground_grey {
	background: #f7f7f7;
}
.contentBackground_black {
	background: #000;
	color: #fff;
}
/* интересное */
.contentBackground_blue {
	background: #cee0ed; 
}
/* здоровье */
.pageSwiper__container.contentBackground_dark .pageSwiper,
.contentBackground_dark {
	background: #252525;
	color: #fff;
}
.pageSwiper__container.contentBackground_dark {
	background: #232323; /* фон */
}
.contentBackground_dark .swiper-button-prev {
	background-color: #00abaa;
    background-position: -50px -234px; /* белая стрелка */
}
.contentBackground_dark .swiper-button-next {
	background-color: #00abaa;
    background-position: 0px -234px; /* белая стрелка */
}
.contentBackground_dark .swiper-button-disabled {
	opacity: .15;
}

/* технологии */
.pageSwiper__container.contentBackground_deepblue .pageSwiper,
.contentBackground_deepblue {
	background: #677a87;
	color: #fff;
}
.pageSwiper__container.contentBackground_deepblue {
	background: #60727e; /* фон */
}
.contentBackground_deepblue .swiper-button-prev.swiper-button-disabled,
.contentBackground_deepblue .swiper-button-prev {
	background-color: #2b3336;
    background-position: -50px -234px; /* белая стрелка */
}
.contentBackground_deepblue .swiper-button-next.swiper-button-disabled,
.contentBackground_deepblue .swiper-button-next {
	background-color: #2b3336;
    background-position: 0px -234px; /* белая стрелка */
}

/* происшествия */
.pageSwiper__container.contentBackground_red .pageSwiper,
.contentBackground_red {
	background: #7a1800;
	color: #fff;
}
.pageSwiper__container.contentBackground_red {
	background: #721600; /* фон */
}
.contentBackground_red .swiper-button-prev {
	background-color: #f00;
    background-position: -50px -234px; /* белая стрелка */
}
.contentBackground_red .swiper-button-next {
	background-color: #f00;
    background-position: 0px -234px; /* белая стрелка */
}
.contentBackground_red .swiper-button-prev.swiper-button-disabled,
.contentBackground_red .swiper-button-next.swiper-button-disabled {
	opacity: .5;
	background-color: rgba(0,0,0,.3);
}

/* происшествия темнее */
.pageSwiper__container.contentBackground_gunmetal .pageSwiper,
.contentBackground_gunmetal {
	background: #2b3336;
	color: #fff;
}
.pageSwiper__container.contentBackground_gunmetal {
	background: #283032; /* фон */
}
.contentBackground_gunmetal .swiper-button-prev {
	background-color: #161718;
    background-position: -50px -234px; /* белая стрелка */
}
.contentBackground_gunmetal .swiper-button-next {
	background-color: #161718;
    background-position: 0px -234px; /* белая стрелка */
}
.contentBackground_gunmetal .swiper-button-prev.swiper-button-disabled,
.contentBackground_gunmetal .swiper-button-next.swiper-button-disabled {
	opacity: .5;
	background-color: rgba(0,0,0,.3);
}


/* внури страницы */
@media screen and (max-width: 1023px) {
	.table__mainColumn .contentBackground_grey {
		box-shadow: -40px 0 0 #f7f7f7,
					 40px 0 0 #f7f7f7;
	}
	.table__mainColumn .contentBackground_blue {
		box-shadow: -40px 0 0 #cee0ed,
					 40px 0 0 #cee0ed;
	}
	.table__mainColumn .contentBackground_dark {
		box-shadow: -40px 0 0 #252525,
					 40px 0 0 #252525;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.table__mainColumn .contentBackground_grey {
		box-shadow: -40px 0 0 #f7f7f7,
					 10px 0 0 #f7f7f7;
	}
	.table__mainColumn .contentBackground_blue {
		box-shadow: -40px 0 0 #cee0ed,
					 10px 0 0 #cee0ed;
	}
	.table__mainColumn .contentBackground_dark {
		box-shadow: -40px 0 0 #252525,
					 10px 0 0 #252525;
	}
}
@media screen and (min-width: 1280px) {
	.table__mainColumn .contentBackground_grey {
		box-shadow: -16px 0 0 #f7f7f7,
					  8px 0 0 #f7f7f7;
	}
	.table__mainColumn .contentBackground_blue {
		box-shadow: -16px 0 0 #cee0ed,
					  8px 0 0 #cee0ed;
	}
	.table__mainColumn .contentBackground_dark {
		box-shadow: -16px 0 0 #252525,
					  8px 0 0 #252525;
	}
}











/* здоровье */
.lenta {
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 25px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}
.lenta:before,
.lenta:after {
	content: "";
	position: absolute;
    border: 13px solid transparent;
    top: 0;

}
.lenta:before {
    right: 0;
}
.lenta:after {
    left: 0;
}


/* здоровье */
.contentBackground_dark .lenta {
	background: #00abaa;
}
.contentBackground_dark .lenta:before {
    border-right: 6px solid #252525;
}
.contentBackground_dark .lenta:after {
    border-left: 6px solid #252525;
}
/* технологии */
.contentBackground_deepblue .lenta {
	background: #669dc3;
}
.contentBackground_deepblue .lenta:before{
	border-right: 6px solid #677a87;
}
.contentBackground_deepblue .lenta:after {
	border-left: 6px solid #677a87;
}
/* происшествия */
.contentBackground_red .lenta {
	background: #ff0000;
}
.contentBackground_red .lenta:before{
	border-right: 6px solid #7a1800;
}
.contentBackground_red .lenta:after {
	border-left: 6px solid #7a1800;
}
/* происшествия темнее */
.contentBackground_gunmetal .lenta {
	background: #ff0000;
}
.contentBackground_gunmetal .lenta:before{
	border-right: 6px solid #2b3336;
}
.contentBackground_gunmetal .lenta:after {
	border-left: 6px solid #2b3336;
}





.contentBackground_dark .yellowButton {
	position: absolute;
	top: 0px;
	right: 16px;
}







.med__logo {
	position: absolute;
	top: -10px;
	left: 16px;
}































.pageBottom {
	text-align: center;
}












.moreButton {
	background: #f7f7f7;
	display: inline-block;
	padding: 22px 37px 22px 71px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	margin-bottom: 20px;
	position: relative;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
}
.moreButton:after {
	position: absolute;
	content: "";
	display: block;
	top: 15px;
	left: 28px;
	background: url(../_images/icons_sprite.png) 0 -105px;
	width: 32px;
	height: 32px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.moreButton:after {
        background-image: url(../_images/icons_sprite_2x.png);
        background-size: 282px 500px;
    }
}

.moreButton span {
	border-bottom: 1px dashed #949494;
}
.moreButton:hover span {
	border-bottom: none;
}
.moreButton.state_loading:after {
	-webkit-animation: load 1.5s infinite linear;
	-moz-animation: load 1.5s infinite linear;
	ms-animation: load 1.5s infinite linear;
	o-animation: load 1.5s infinite linear;
	animation: load 1.5s infinite linear;
}

@-webkit-keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
@keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}





























































.borderedSection {
	border-color: #d4d4d4;
	border-width: 3px 0 1px;
	border-style: solid;
	margin-bottom: 20px;
	padding: 9px 10px 4px;
}
.borderedSection.view_nullpaddings {
	padding: 0;
}
.borderedSection.view_authorMaterials {
	position: absolute;
	bottom: -20px;
}
@media screen and (max-width: 1023px) {
	.borderedSection.view_authorMaterials {
	    margin-left: 260px;
	    width: calc(100% - 280px);
	}
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.borderedSection.view_authorMaterials {
		margin-left: 324px;
		width: calc(100% - 344px);
	}
}
@media screen and (min-width: 1280px) {
	.borderedSection.view_authorMaterials {
		margin-left: 311px;
		width: calc(100% - 336px);
	}
}


.borderedSection__separatedItem {
	border-top: 1px solid  #d4d4d4;
}
.borderedSection__separatedItem:first-child {
	border-top: none;
}
.borderedSection.view_authorMaterials .textTabs {
	margin-right: 0;
}


























@media screen and (max-width: 1023px) {
	.videoSection .table__mainColumn {
		display: table-cell;
	}
	.table.view_alwaysTable {
		display: table;
	}
	.table.view_alwaysTable .table__mainColumn {
		display: table-cell;
	}
}




/* левая - большая, правая - узкая */
.table__mainColumn:first-child {
    width: calc(100% - 322px); /* 300 + 22 */
    float: left;
}
.table__sideColumn:last-child {
	margin-left: calc(100% - 300px);
}
/* левая - узкая, правая - большая */
.table__sideColumn:first-child {
	width: 300px;
	float: left;
}
.table__mainColumn:last-child {
	margin-left: 322px; /* 300 + 22 */
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	/* левая - большая, правая - узкая */
	.table__mainColumn:first-child {
		width: 66%; /* 32%_2%_32%_2%_32% */
	}
	.table__sideColumn:last-child {
		margin-left: 68%;
	}
	/* левая - узкая, правая - большая */
	.table__sideColumn:first-child {
		width: 32%;
	}
	.table__mainColumn:last-child {
		margin-left: 34%;
	}
	/* таблица в таблице */
	/* левая - узкая, правая - большая */
	.table .table .table__sideColumn:first-child {
		width: 48.4%
	}
	.table .table .table__mainColumn:last-child {
		margin-left: 51.6%;
	}

}

@media screen and (min-width: 1280px) {
	/* левая - большая, правая - узкая */
	.table__mainColumn:first-child {
		width: calc(100% - 311px); /* 295 + 16 */
	}
	.table__sideColumn:last-child {
		margin-left: calc(100% - 295px);
	}
	/* левая - узкая, правая - большая */
	.table__sideColumn:first-child {
		width: 295px;
	}
	.table__mainColumn:last-child {
		margin-left: 311px; /* 295 + 16 */
	}
}


@media screen and (max-width: 1023px) {
	.table__mainColumn:first-child,
	.table__mainColumn:last-child {
		width: 100%;
		margin: 0;
	}
	.table__sideColumn:first-child,
	.table__sideColumn:last-child {
		display: none;
	}

	/* левая - большая, правая - узкая */
	.table.view_dontHideColumn .table__mainColumn:first-child {
		/*width: 48.5%;*/
		width: calc(100% - 311px); /* 295 + 16 */
	}
	.table.view_dontHideColumn .table__sideColumn:last-child {
		width: auto;
		/*margin-left: 51.5%;*/
		margin-left: calc(100% - 295px);
		display: block;
	}

	/* левая - узкая, правая - большая */
	.table.view_dontHideColumn .table__sideColumn:first-child {
		/*width: 48.5%;*/
		width: 295px;
		display: block;
	}
	.table.view_dontHideColumn .table__mainColumn:last-child {
		width: auto;
		/*margin-left: 51.5%;*/
		margin-left: 311px;
	}

}








@media screen and (max-width: 1023px) {
	.hideOn_768 {
		display: none;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.hideOn_1024 {
		display: none;
	}
}
@media screen and (min-width: 1280px) {
	.hideOn_1280 {
		display: none;
	}
}
@media screen and (min-width: 1041px) {
	.hideOn_desktop {
		display: none;
	}
}
@media screen and (max-width: 1040px) {
	.hideOn_mobile {
		display: none;
	}
}


























/* раскрывашки - стр тэгов */

.state_hidderHidden {
	display: none;
}

















.iscroll {
	position: relative;
	overflow: hidden;
	width: 100.1%;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
}








.hcSticky__sticky {
	position: relative;
}

.sticked {
	width: 300px;
	position: absolute;
	top: 0;
}
@media screen and (min-width: 1280px) {
	.sticked {
	    width: 295px;
	}
}
.sticked.state_floating {
	/*position: fixed;*/
}













.pageTabs__item {
    font-family: 'Roboto Slab', serif;
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding: 20px 8px;
	vertical-align: middle;
	box-shadow: 0 2px 0 rgba(255,255,255,.45);
	position: relative;

	-webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    transition: opacity .2s ease;
}
@media screen and (max-width: 1023px) {
	.pageTabs__item {
		font-size: 23px;
	}
}
.pageTabs__item:hover {
	cursor: pointer;
	opacity: .9;
}
.pageTabs__item.state_current {
	box-shadow: 0 -5px 0 #ffd051;
}
.pageTabs__item.state_current:before,
.pageTabs__item.state_current:after {
	display: block;
	position: absolute;
	content: "";
	width: 2px;
	background: #fff;
	opacity: .45;
	top: 0;
	bottom: -2px;
}
.pageTabs__item.state_current:before {
	left: 0;
}
.pageTabs__item.state_current:first-child:before {
	display: none;
}
.pageTabs__item.state_current:after {
	right: 0;
}
.pageTabs__item.state_current:last-child:after {
	display: none;
}

.photoNumber {
	position: absolute;
	color: #fff;
	font-weight: 100;
	top: 16px;
	left: 16px;
	font-size: 24px;
	padding: 0 10px;
	background: rgba(0,0,0,.6);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition:    all .3s ease-in-out;
	transition:         all .3s ease-in-out;
}
.aLaSlideImage:hover .photoNumber,
.photoBlock__image:hover .photoNumber {
	background: rgba(0,0,0,0);
	font-size: 40px;
}