.comments h2 {
	text-transform: uppercase;
	margin-bottom: 20px;
}
.comments__expandButton {
	display: inline-block;
	margin-left: 10px;
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
   	background: #ffd051;
	width: 38px;
	height: 21px;
	position: relative;
}
.comments__expandButton:after {
	content: "";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: 44%;
    display: inline-block;
    border: 5px solid transparent;
    border-top: 5px solid #000;
}
.comments__expandButton.state_open:after {
    top: 19%;
    border: 5px solid transparent;
    border-bottom: 5px solid #000;
}


.comments__login {
	margin-bottom: 20px;
}
.comments__login b {
	display: inline-block;
	margin-bottom: 15px;

}














