@media screen and (max-width: 1040px) {
	footer {		
	    display: none;
	}
}




.footer__footerInfo {
	float: right;
	background: #2a3436;
	padding: 15px;
	width: 270px;
	color: #fff;
	line-height: 17px;
	font-size: 14px;
}
.footerInfo__separator {
	border: 0;
	border-bottom: 1px dashed #fff;
	margin: 17px 0;
}

.socialSharing__socialNetwork {
	color: #fff;
	padding: 0 0 12px 31px;
	position: relative;
}








.footer__subscribeToNews {
	position: relative;
	height: 30px;
	margin-top: 15px;
	border: 1px solid #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.footer__subscribeToNews input {
	border: none;
	width: 160px;
	height: 28px;
	background: #2a3436;
	color: #fff;
}
.footer__subscribeToNews input:-webkit-input-placeholder {
	color: #a9a9a9;
	font-style: italic;
}
.footer__subscribeToNews input::-moz-placeholder {
	color: #a9a9a9;
	font-style: italic;
}
.footer__subscribeToNews input::-ms-input-placeholder {
	color: #a9a9a9;
	font-style: italic;
}
.footer__subscribeToNews button {
	position: absolute;
	right: 0;
	width: 125px;
	height: 30px;
	background: #ffe298;
	text-transform: uppercase;
	color: #000;
	border: 1px solid #ffe298;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}







.footer__footerInfoFaq li {
	margin-bottom: 10px;
}
.footer__footerInfoFaqLinks {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}
.footer__footerInfoFaqLinks:hover {
	text-decoration: underline;
}










.footerCopy {
	background: #000;
	padding: 27px 0;
}
.footerCopy__container {
	position: relative;
	min-height: 67px;
	padding-right: 30%;
	padding-left: 80px;
	padding-top: 10px;
	background: url(../_images/footer-logo.png) left center no-repeat;
	color: #929292;
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.footerCopy__container {
		padding-right: 7%;
	}
}
.footerCopy__container.view_ageRestrictionSign:after {
	content: " ";
	display: block;
	position: absolute;
	right: 0;
	top: 10px;
	width: 38px;
	height: 38px;
	background: url(../_images/18plus.png) no-repeat;
}
.footerCopy__header {
	margin-bottom: 7px;
}
.footerCopy__text {
	font-size: 12px;
}







.footer__footerInfoFaqIcon {
	background: url(../_images/icons.png) no-repeat;
	height: 24px;
	left: 0;
	position: absolute;
	top: -4px;
	width: 24px;
}
.footer_iconFacebook .footer__footerInfoFaqIcon {
	background-position: -540px 0;
}
.footer_iconvKontakte .footer__footerInfoFaqIcon {
	background-position: -580px 0;
}
.footer_iconGoogle .footer__footerInfoFaqIcon {
	background-position: -620px 0;
}
.footer_iconTwitter .footer__footerInfoFaqIcon {
	background-position: -660px 0;
}
.footer_iconRSS .footer__footerInfoFaqIcon {
	background-position: -700px 0;
}