@media screen and (max-width: 1040px) {
	footer {		
	    display: none;
	}
}




.footerInfo {
	float: right;
	background: #2a3436;
	padding: 15px;
	width: 265px;


}
.footerInfo__separator {
	border: 0;
	border-bottom: 1px dashed #fff;
	margin-bottom: 15px;

}







.socialNetwork__item {
	color: #fff;
	padding: 0 0 12px 31px;
	position: relative;
}
.socialNetwork__link {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

.footerSocials .socialNetwork__link {
	color: #fff;
}
.commentsSocials .socialNetwork__item {
	display: inline-block;
	margin-right: 10px;
}

.socialNetwork__link .icon {
	background: url(../_images/icons.png) no-repeat;
	height: 24px;
	left: 0;
	position: absolute;
	top: -4px;
	width: 24px;
}
.socialNetwork__link.view_iconFacebook .icon {
	background-position: -540px 0;
}
.socialNetwork__link.view_iconvKontakte .icon {
	background-position: -580px 0;
}
.socialNetwork__link.view_iconGoogle .icon {
	background-position: -620px 0;
}
.socialNetwork__link.view_iconTwitter .icon {
	background-position: -660px 0;
}
.socialNetwork__link.view_iconRSS .icon {
	background-position: -700px 0;
}








.footerSubscribe p {
	color: #fff;
	font-size: 12px;
	margin-bottom: 15px
}
.footerSubscribe__form {
	position: relative;
	margin-bottom: 15px
}
.footerSubscribe__form .footerSubscribe__input {
	border: 1px solid #fff;
/*	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;*/
	width: 90%;
    padding: 8px 100px 8px 10px;
	background: transparent;
	color: #fff;
	font-size: 12px;
}
.footerSubscribe__form .footerSubscribe__input::-webkit-input-placeholder {
	color: #a9a9a9;
	font-style: italic;
}
.footerSubscribe__form .footerSubscribe__input::-moz-placeholder {
	color: #a9a9a9;
	font-style: italic;
}
.footerSubscribe__form .footerSubscribe__input:-moz-placeholder {
	color: #a9a9a9;
	font-style: italic;
}
.footerSubscribe__form .footerSubscribe__input:-ms-input-placeholder {
	color: #a9a9a9;
	font-style: italic;
}


.footerSubscribe__form .yellowButton {
	position: absolute;
	right: 0;
	top: 0;
    font-size: 11px;
}
.footerSubscribe__form .yellowButton .corner {
    height: 22px;
}




.footerFaq__item {
	margin-bottom: 4px;
}
.footerFaq__link {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}









.footerCopy {
	background: #000;
	padding: 27px 0;
}
.footerCopy__container {
	position: relative;
	min-height: 67px;
	padding-right: 30%;
	padding-left: 80px;
	padding-top: 10px;
	background: url(../_images/footer-logo.png) left center no-repeat;
	color: #929292;
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.footerCopy__container {
		padding-right: 7%;
	}
}
.footerCopy__container.view_ageRestrictionSign:after {
	content: " ";
	display: block;
	position: absolute;
	right: 0;
	top: 10px;
	width: 38px;
	height: 38px;
	background: url(../_images/18plus.png) no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.footerCopy__container.view_ageRestrictionSign:after {
		background-image: url(../_images/18plus_2x.png);
		background-size: 38px 38px;
	}
}

.footerCopy__header {
	margin-bottom: 7px;
}
.footerCopy__text {
	font-size: 12px;
}





