



.footerInfo {
	float: right;
	background: #2a3436;
	padding: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}
@media screen and (max-width: 1023px) {
	.footerInfo {
		float: none;
		width: calc(100% + 80px);
		margin-left: -40px;
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.footerInfo {
		width: 32.33333%;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.footerInfo {
		width: 300px;
	}
}
@media screen and (min-width: 1280px) {
	.footerInfo {
		width: 295px;
	}
}




.footerInfo__separator {
	border: 0;
	border-bottom: 1px dashed #fff;
	margin-bottom: 15px;

}





.footerSocials {
	margin-bottom: 10px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.footerInfo__separator-tablet {
    display: none;
}

.socialNetwork__item {
	color: #fff;
    margin-bottom: 5px;
    position: relative;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
}
.socialNetwork__link {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	height: 24px;
	padding-bottom: 3px;
}

.footerSocials .socialNetwork__link {
	color: #fff;
}
.commentsSocials .socialNetwork__item {
	display: inline-block;
	margin-right: 10px;
}

.socialNetwork__link:before {
	background: #657889 url(../_images/icons_sprite.png) no-repeat;
	background-size: 211px 375px;
	height: 24px;
	width: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
    margin-bottom: 3px;
	content: "";
	border-radius: 50%;
	-webkit-transition: background .2s ease-in-out;
    -moz-transition: 	background .2s ease-in-out;
    transition: 		background .2s ease-in-out;


}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.socialNetwork__link:before {
        background-image: url(../_images/icons_sprite_2x.png);
		/*background-size: 422px 750px;*/
    }
}

.socialNetwork__link.view_iconFacebook:before {
	background-position: -6px -109px;
}
.socialNetwork__link.view_iconvKontakte:before {
	background-position: -41px -108px;
}
.socialNetwork__link.view_iconGoogle:before {
	background-position: -111px -108px;
}
.socialNetwork__link.view_iconTwitter:before {
	background-position: -76px -108px;
}
.socialNetwork__link.view_iconOkRu:before {
    background-position: -147px -108px;
}
.socialNetwork__link.view_iconRSS:before {
	background-position: -181px -109px;
}
.socialNetwork__link:hover:before {
	background-color: #455869
}







.footerSubscribe p {
	color: #fff;
	font-size: 13px;
	margin-bottom: 10px
}
.footerSubscribe__form {
	position: relative;
	margin-bottom: 15px;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
}
.footerSubscribe__form .footerSubscribe__input {
	border: 1px solid #fff;
	width: 90%;
    padding: 8px 100px 8px 10px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	height: 32px;
}
.footerSubscribe__form .footerSubscribe__input::-webkit-input-placeholder {
	color: #a9a9a9;
	font-style: italic;
}
.footerSubscribe__form .footerSubscribe__input::-moz-placeholder {
	color: #a9a9a9;
	font-style: italic;
}
.footerSubscribe__form .footerSubscribe__input:-moz-placeholder {
	color: #a9a9a9;
	font-style: italic;
}
.footerSubscribe__form .footerSubscribe__input:-ms-input-placeholder {
	color: #a9a9a9;
	font-style: italic;
}


.footerSubscribe__form .yellowButton {
	position: absolute;
	right: 0;
	top: 0;
    font-size: 11px;
}
.footerSubscribe__form .yellowButton .corner {
    height: 22px;
}




.footerFaq__item {
	margin-bottom: 4px;
}
.footerFaq__link {
	color: #939798;
	font-size: 13px;
	text-decoration: none;
}









.footerCopy {
	background: #000;
	padding: 27px 0;
}
.footerCopy__container {
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
	position: relative;
	min-height: 67px;
	padding-right: 30%;
	padding-left: 80px;
	padding-top: 10px;
	background: url(../_images/footer-logo.png) left center no-repeat;
	color: #929292;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.footerCopy__container {
	    background-image: url(../_images/footer-logo_2x.png);
	    background-size: 58px 67px;
	}
}



@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.footerCopy__container {
		padding-right: 7%;
	}
}
.footerCopy__container.view_ageRestrictionSign:after {
	content: " ";
	display: block;
	position: absolute;
	right: 0;
	top: 10px;
	width: 38px;
	height: 38px;
	background: url(../_images/18plus.png) no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.footerCopy__container.view_ageRestrictionSign:after {
		background-image: url(../_images/18plus_2x.png);
		background-size: 38px 38px;
	}
}

.footerCopy__header {
	margin-bottom: 7px;
}
.footerCopy__text {
	font-size: 12px;
}
.footer__mobile {
    display: flex;
}

.footer__appStore {
    height: 45px;
}

.footer__googlePlay {
    height: 67px;
    width: 174px;
    margin-left: -11px;
    margin-top: -8px;
}

.footer__mobile__text {
    width: 113px;
}

.footer__mobile__text p {
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 0;
}

.footer__mobile__links {
    width: 152px;
}

@media screen and (max-width: 1023px) {
    .footerSocials {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;
    }

    .footerInfo__separator-desktop {
        display: none;
    }

    .footerInfo__separator-tablet {
        display: block;
    }
    .footer__mobile {
        flex-direction: column;
    }
    .footer__mobile div {
        width: 100%;
    }
    .footer__mobile__links {
        display: flex;
    }
    .footer__googlePlay {
        margin-left: 0px;
        margin-top: -11px;
    }
    .footer__mobile__text {
        margin-bottom: 6px;
    }
    .footerSubscribe {
        width: 50%;
    }
    .footerActions {
        display: flex;
        justify-content: space-between;
    }
    .footerSubscribe p {
        margin-bottom: 15px;
    }
}

