/* плавное изменение прозрачности  placeholder-а при фокусе */
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder, 
input[type="password"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.2s ease; color:#d2d2d2; font-family: 'Roboto', sans-serif; font-weight: 300}
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder, 
input[type="number"]::-moz-placeholder, 
input[type="password"]::-moz-placeholder, 
input[type="tel"]::-moz-placeholder, 
input[type="url"]::-moz-placeholder                {opacity: 1; transition: opacity 0.2s ease; color:#d2d2d2; font-family: 'Roboto', sans-serif; font-weight: 300} /* Firefox 19+ */
textarea:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder, 
input[type="number"]:-moz-placeholder, 
input[type="password"]:-moz-placeholder, 
input[type="tel"]:-moz-placeholder, 
input[type="url"]:-moz-placeholder                 {opacity: 1; transition: opacity 0.2s ease; color:#d2d2d2; font-family: 'Roboto', sans-serif; font-weight: 300} /* Firefox 18- */
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder, 
input[type="number"]:-ms-input-placeholder, 
input[type="password"]:-ms-input-placeholder, 
input[type="tel"]:-ms-input-placeholder, 
input[type="url"]:-ms-input-placeholder            {opacity: 1; transition: opacity 0.2s ease; color:#d2d2d2; font-family: 'Roboto', sans-serif; font-weight: 300}
textarea:focus::-webkit-input-placeholder,
input[type="text"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder, 
input[type="number"]:focus::-webkit-input-placeholder, 
input[type="password"]:focus::-webkit-input-placeholder, 
input[type="tel"]:focus::-webkit-input-placeholder, 
input[type="url"]:focus::-webkit-input-placeholder {opacity: 0;}
textarea:focus::-moz-placeholder,
input[type="text"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder, 
input[type="number"]:focus::-moz-placeholder, 
input[type="password"]:focus::-moz-placeholder, 
input[type="tel"]:focus::-moz-placeholder, 
input[type="url"] :focus::-moz-placeholder         {opacity: 0;}
textarea:focus:-moz-placeholder,
input[type="text"]:focus:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder, 
input[type="number"]:focus:-moz-placeholder, 
input[type="password"]:focus:-moz-placeholder, 
input[type="tel"]:focus:-moz-placeholder, 
input[type="url"]:focus:-moz-placeholder           {opacity: 0;}
textarea:focus:-ms-input-placeholder,
input[type="text"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder, 
input[type="number"]:focus:-ms-input-placeholder, 
input[type="password"]:focus:-ms-input-placeholder, 
input[type="tel"]:focus:-ms-input-placeholder, 
input[type="url"]:focus:-ms-input-placeholder      {opacity: 0;}




input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"] {
	font-family: 'Roboto', sans-serif;
    padding: 7px 13px 6px;
    font-size: 16px;
	line-height: 19px;
    border: 1px solid #bbb; /* #d4d4d4; */
	width: 100%;
	-webkit-appearance: none;
	border-radius: 0;
	margin: 0;
}



.search {
	position: relative;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
}
.search:after,
.headerSearch__form:after {
	/* лупа */
    opacity: .4;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    background: transparent url(../_images/icons_sprite.png) 0 -71px;
    border: 0;
    width: 35px;
    height: 33px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.search:after,
	.headerSearch__form:after {
        background-image: url(../_images/icons_sprite_2x.png);
        background-size: 282px 500px;
    }
}

.headerSearch__form:after {
	top: 14px;
}

.search__input[type="text"] {
	padding-right: 80px;
	padding-left: 35px;
	background: #fff;
	color: #000;
	position: relative;
	width: calc(100% - 15px);
}
.headerSearch .search__input[type="text"] {
	border: none;
	font-size: 15px;
	height: 33px;
	width: calc(100% - 45px);
}












textarea {
	font-family: 'Roboto', sans-serif;
    padding: 7px 13px 6px;
    font-size: 16px;
    border: 1px solid #bbb; /* #d4d4d4; */
	width: 100%;
	-webkit-appearance: none;
	border-radius: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	resize: vertical;
	min-height: 80px;
}






.select {
    padding: 0;
    margin: 0;
    border: 1px solid #bbb;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    border-radius: 0;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
}
.select:after {
	position: absolute;
	content: "";
    right: 9px;
    top: 46%;
    border: 5px solid transparent;
    border-top: 5px solid #bbb;
}
.select select {
	font-family: 'Roboto', sans-serif;
    padding: 7px 13px 6px;
    font-size: 16px;
    width: calc(100% + 2px);
    margin-left: -1px;
    border: none;
    box-shadow: none;
	background: transparent none;
	-webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select select:focus {
    outline: none;
}






















/* дефолтные кнопки */
button[type="submit"],
input[type="submit"] {
	cursor: pointer;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-appearance: none;
}
/*button[type="submit"]:hover,
input[type="submit"]:hover {
	opacity: .85;
}*/
/* для случая использования в globalinfo */
.yellowButton {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	background: #ffd051;
    padding: 10px 8px 9px 18px;
    margin-right: 10px; /* обязательно ждя уголка */
    position: relative;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
}
.yellowButton .corner {
	display: block;
	position: absolute;
	width: 11px;
	height: 23px;
	background: #ffd051;
    bottom: 0;
    right: -10px;
}
.yellowButton,
.yellowButton .corner {
	-moz-transition: all 0.18s;
	-webkit-transition: all 0.18s;
	-o-transition: all 0.18s;
	transition: all 0.18s;
}
.yellowButton .corner:before {
	display: block;
	position: absolute;
	content: "";
    right: 0;
    top: -10px;
    border: 5px solid transparent;
    border-bottom-color: #000;
    border-left-color: #000;
	-webkit-box-shadow: -1px 0 0 0 #ffd051;
	-moz-box-shadow: -1px 0 0 0 #ffd051;
	box-shadow: -1px 0 0 0 #ffd051;
}
.yellowButton .corner:after {
	display: block;
	position: absolute;
	content: "";
    right: 0;
    top: 0;
    border: 5px solid transparent;
    border-top-color: rgba(0,0,0,.1);
    border-right-color: rgba(0,0,0,.1);
}
.yellowButton:hover,
.yellowButton:hover .corner {
	background: #ffc336;
	color: #c64a1b;
	cursor: pointer;
}



/* для случая использования в меню */
.globalInfo .yellowButton,
.headerPanel .yellowButton {
   	float: right;
    margin-left: 13px;
}
.yellowButton.view_whiteCorner .corner:before {
    border-bottom-color: #fff;
    border-left-color: #fff;
}
@media screen and (max-width: 1023px) {
	.headerPanel .yellowButton {
		margin: 13px 10px 13px 12px;
		float: right;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.headerPanel .yellowButton {
		margin: 13px 12px;
		float: right;
	}
}
 
.headerSearch__form .yellowButton {
	position: absolute;
	top: 14px;
	right: 40px;
	margin: 0;
}








/* на странице в форме */
.yellowButton.view_big {
	font-size: 13px;
	/*padding: 11px 8px 10px 18px; */
	display: inline-block;
	transform: translateY(-1px);
}
.yellowButton.view_big .corner {
    height: 24px;
}


.search .yellowButton {
	position: absolute;
	right: 0;
	transform: none;
}


/* большая плавающая закрывашка */
.yellowButton.view_backButton {
	height: 80px;
    display: block;
    float: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    width: 70px;
    font-size: 63px;
    font-weight: 100;
    padding: 0 8px 9px 27px;
    margin-right: -30px;
}
@media screen and (min-width: 1280px) {
	.yellowButton.view_backButton {
	    margin-right: -6px;
	}
}
.yellowButton.view_backButton .corner {
	height: 70px;
}
.yellowButton.view_backButton .corner:before {
    border-top-color: #eee;
    border-right-color: #eee;
}







/* лэйблы, чекбоксы, радиобатоны */
label {
	color: #747474;
	margin-bottom: 7px;
	font-size: 17px;
	display: inline-block;
}
/*label.checkboxWrap,
label.radioWrap {
	color: #000;
	cursor: pointer;
	position: relative;
	padding-left: 21px;
}
.checkboxWrap input[type="checkbox"],
.radioWrap input[type="radio"]{
	display: none;
}
.radioWrap:before,
.checkboxWrap:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 14px;
	height: 14px;
	display: inline-block;
	cursor: pointer;
	background: url("../images/sprite_forms.png");
}
.checkboxWrap:before {
	background-position: 0 0;
}
.checkboxWrap.checked:before {
	background-position: 0 -14px;
}
.radioWrap:before {
	background-position: 14px 0;
}
.radioWrap.checked:before {
	background-position: 14px -14px;
}*/






.bottomDatapicker {
	text-align: center;
}
.bottomDatapicker label {
	font-weight: bold;
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	color: #a3a3a3;
	margin: 0 10px 5px;
}
.bottomDatapicker .yellowButton {
	margin: 0 10px;
}
/*@media screen and (max-width: 1023px) {
	.weather .bottomDatapicker label {
		display: block;
	}
}*/








.closeButton {
	text-decoration: none;
	font-size: 30px;
    font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #fff;
}
.headerSearch__form .closeButton {
	color: #fff;
	padding-left: 20px;
	float: right;
    margin-top: -2px;
}
















.ui-widget input, 
.ui-widget select, 
.ui-widget textarea, 
.ui-widget button {
	font-family: 'Roboto', sans-serif;
}

/* input */
input.datepicker {
	padding-right: 35px;
	width: 150px;
	background: url(../_images/icons_sprite.png) 43px -1px;
	margin-bottom: 10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	input.datepicker {
        background-image: url(../_images/icons_sprite_2x.png);
        background-size: 282px 500px;
    }
}



/* стили самого календаря */
.ui-datepicker {
	font-family: 'Roboto', sans-serif;
	border: none;
	border-radius: 0;
	box-shadow: 0 8px 21px rgba(0,0,0,.5);
}
.ui-datepicker-header {
	border: none;
	border-radius: 0;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
    border: 1px solid #e1e1e1;
}
.ui-datepicker-next,
.ui-datepicker-prev {
	border: 0 !important;
	background: none !important;
	top: 2px !important;
	cursor: pointer;
}









/* табы */
.ui-tabs{
	border: none;
	border-radius: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.ui-tabs .ui-tabs-nav {
	border-radius: 0;
	border: none;
	background: #eeeeee;
	padding: 0;
	display: table;
	width: 100.1%;
}
.tabs__wrapper .ui-tabs-nav:before, 
.tabs__wrapper .ui-tabs-nav:after {
	display: none;
}
.ui-tabs .ui-tabs-nav li {
	height: 51px;
	white-space: normal;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    margin: 0;
    background: #eeeeee;
    border: none;
	border-radius: 0;
    font-weight: 500;
    font-size: 17px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin: 0;
    background: #fff;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	color: #8d8d8d;
    padding: 0 16px;
    line-height: 1.05;
    display: flex;
    height: 51px;
    align-items: center;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active  .ui-tabs-anchor {
    color: #c64a1b;
}
.ui-tabs .ui-tabs-panel {
    padding: 0 16px;
}

