header {
	/*position: relative;*/
	padding-top: 60px;
}




.globalInfo {
	padding-bottom: 13px;
	padding-top: 10px;
	background: #fff;
	border-bottom: 3px solid #f7f7f7;
	-webkit-box-shadow: inset 0 -3px 0 0 #e8e8e8;
	-moz-box-shadow: inset 0 -3px 0 0 #e8e8e8;
	box-shadow: inset 0 -3px 0 0 #e8e8e8;
}
@media screen and (max-width: 1040px) {
	.globalInfo {
		display: none;
	}
}


.floatingInfo {
	height: 80px;
	min-width: 768px;
	background: #fff;
	border-bottom: 1px solid #eee;
}

.floatingInfo__wrapper {
	background: #fff;
	height: 80px
}

.floatingInfo.view_scrolling {
	position: fixed;
	top: 0;
	z-index: 99999;
}
.floatingInfo.view_opacity {
	opacity: .6;
    -webkit-transition: opacity .15s ease-out;
    -moz-transition: 	opacity .15s ease-out;
    transition: 		opacity .15s ease-out;
}
.floatingInfo.view_opacity:hover {
	opacity: 1;
}

.floatingInfo {
	height: 56px;
}
.floatingInfo .yellowButton.view_backButton {
	height: 56px;
	width: 46px;
	font-size: 45px;
	padding: 0 8px 9px 18px;
}
.floatingInfo .yellowButton.view_backButton .corner {
	height: 50px;
}
.floatingInfo .articleSocials,
.floatingInfo .saveButton {
	margin-top: 5px;
	margin-bottom: 5px;
}
/*@media screen and (max-width: 1040px) {*/
.floatingInfo.view_opacity {
	opacity: 1;
}
/*}*/

/*.floatingInfo.view_hidden {*/
    /*top: -80px;*/
/*}*/
.floatingInfo .articleSocials {
	margin-top: 5px;
}
@media screen and (max-width: 1040px) {
	.floatingInfo .hint {
		display: none;
	}
}

@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.floatingInfo .hint {
		float: left;
	    width: 200px;
		margin-top: 17px;
		margin-left: 30px;
	}
}
@media screen and (min-width: 1280px) {
	.floatingInfo .hint {
		float: left;
		margin-top: 31px;
		margin-left: 30px;
	}
}










/* для случая использования в globalinfo */
.dayInfo {
	float: left;
    font-family: 'Roboto Slab', serif;
}
.dayInfo a {
	text-decoration: none;
	color: #333;
}
/*.dayInfo a:hover {
    color: #c64a1b;
}*/
.dayInfo li {
	float: left;
	font-size: 14px;
	padding: 0 0 0 14px;
}
.dayInfo sup {
	color: #ea5429;
}
.dayInfo b {
	display: block;
	color: #333;
}


/* первый пункт */
.dayInfo .b-date {
	border-right: 1px solid #e8e8e8;
	padding: 0 12px 0 0;
}
.dayInfo .b-date span {
	text-transform: uppercase;
	font-size: 12px;
}


/* последний пункт - погода */
.dayInfo .b-weather b {
	display: inline;
	color: inherit;
}

@media screen and (min-width: 1280px) {

	.dayInfo li {
		padding: 0 6px 0 16px;
	}
	.dayInfo .b-date {
		padding: 0 16px 0 0;
	}
}

/* для случая использования в панели */
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.globalInfo .dayInfo .b-weather {
		display: none;
	}
}






/* для случая использования в меню */
.headerPanel .dayInfo {
	display: none;
}
.headerPanel .dayInfo .b-weather {
	display: none;
}
.headerPanel .dayInfo a {
	color: #fff;
}
@media screen and (max-width: 1023px) {
	.headerPanel .dayInfo {
		display: block;
		float: right;
		margin: 13px 0;
	}

	.headerPanel .dayInfo b {
		color: #fff;
		font-weight: normal;
	}

	.headerPanel .dayInfo li {
		padding: 0 0 0 10px;
		font-size: 13px;
	}

	.headerPanel .dayInfo .b-date {
		border-right: 1px solid #fff;
		padding: 0 10px 0 0;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {

	.headerPanel .dayInfo {
		display: block;
		float: right;
		margin: 13px 12px;
	}
	.headerPanel .dayInfo b {
		color: #fff;
		font-weight: normal;
	}

	.headerPanel .dayInfo li {
	    padding: 0 0 0 30px;
		font-size: 13px;
   	}

	.headerPanel .dayInfo .b-date {
		border-right: 1px solid #fff;
		padding: 0 33px 0 0;
	}
}





