header {
	position: relative;
	padding-top: 60px;
}




.globalInfo {
	background: #fff;
	border-bottom: 3px solid #f7f7f7;
	-webkit-box-shadow: inset 0px -3px 0px 0px #e8e8e8;
	-moz-box-shadow: inset 0px -3px 0px 0px #e8e8e8;
	box-shadow: inset 0px -3px 0px 0px #e8e8e8;
}
.globalInfo.view_paddings {
	padding-bottom: 13px;
	padding-top: 10px;
}
@media screen and (max-width: 1040px) {
	.globalInfo {
		display: none;
	}
}











/* для случая использования в globalinfo */
.addNewsButton {
	float: right;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	background: #ffd051;
    padding: 9px 18px;
    margin-left: 13px;
    position: relative;
}
.addNewsButton:hover {
	background: #ffc336;
}
.addNewsButton .corner {
	display: block;
	position: absolute;
    right: -7px;
    top: -7px;
    border: 7px solid transparent;
    border-bottom-color: #fff;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.addNewsButton .corner:before {
	display: block;
	position: absolute;
	content: "";
    right: -7px;
    top: 7px;
    border: 7px solid transparent;
    border-top-color: #000;
}
.addNewsButton .corner:after {
	display: block;
	position: absolute;
	content: "";
    right: -14px;
    top: 0px;
    border: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,.1);
}

/* для случая использования в меню */
.headerPanel .addNewsButton {
	display: none;
}
.headerPanel .addNewsButton .corner {
    border-bottom-color: #000;
}
.headerPanel .addNewsButton .corner:before {
    border-top-color: #fff;
}
@media screen and (max-width: 1023px) {
	.headerPanel .addNewsButton {
		display: block;
		margin: 13px 0 13px 12px;
		float: right;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.headerPanel .addNewsButton {
		display: block;
		margin: 13px 12px;
		float: right;
	}
}








/* для случая использования в globalinfo */
.dayInfo {
	float: left;
}
.dayInfo li {
	float: left;
	font-size: 14px;
	padding: 0 8px 0 16px;
}
.dayInfo li:last-child {
	padding-right: 0;
}
.dayInfo .b-date {
	border-right: 1px solid #e8e8e8;
	padding: 0 15px 0 0;
}
.dayInfo .b-weather {
	display: none;
}

.dayInfo .b-date span {
	text-transform: uppercase;
}
.dayInfo sup {
	color: #ea5429;
}
.dayInfo b {
	display: block;
	color: #000;
}

/* для случая использования в меню */
.headerPanel .dayInfo {
	display: none;
}
@media screen and (max-width: 1023px) {
	.headerPanel .dayInfo {
		display: block;
		float: right;
		margin: 13px 0;
	}

	.headerPanel .dayInfo b {
		color: #fff;
		font-weight: normal;
	}

	.headerPanel .dayInfo li {
		padding: 0 0 0 12px;
	}

	.headerPanel .dayInfo li:last-child {
		padding-right: 0;
	}

	.headerPanel .dayInfo .b-date {
		border-right: 1px solid #fff;
		padding: 0 12px 0 0;
	}
}
<<<<<<< HEAD
=======





>>>>>>> origin/master
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.headerPanel .dayInfo {
		display: block;
		float: right;
		margin: 13px 12px;
	}
	.headerPanel .dayInfo b {
		color: #fff;
		font-weight: normal;
	}
}





.cityInfo {
	display: block;
	float: left;
	font-size: 14px;
	padding-left: 32px;
}




@media screen and (max-width: 1023px) {
	.cityInfo {
		display: none;
	}
}
