.headerPanel {
	width: 100%;
	min-width: 768px;
	height: 60px;
	background: #000000;
	z-index: 99999;
	color: #fff;
    position: absolute;
    /*-webkit-backface-visibility: hidden;*/
    top: 0;
    /*transition: top 0.05s ease-in-out;*/
    will-change: top;
}
.headerPanel.view_hidden {
    top: -60px;
}

.floatingPanel {
    position: fixed;
}


.headerPanel.view_scrolling {
	opacity: .6;
    -webkit-transition: opacity .15s ease-out;
    -moz-transition: 	opacity .15s ease-out;
    transition: 		opacity .15s ease-out;
}
.headerPanel.view_scrolling:hover {
	opacity: 1;
}


@media screen and (max-width: 1040px) {
	.headerPanel.view_scrolling {
		opacity: 1;
		min-width: 80px;
		width: 80px;
	}
	.headerPanel.view_scrolling .paddings_side {
		padding: 0 16px;
	}
	.headerPanel.view_hidden {
		top: 0;
	}
	.headerPanel.view_scrolling .mainLogo,
	.headerPanel.view_scrolling .header__loginButton,
	.headerPanel.view_scrolling .header__searchButton,
	.headerPanel.view_scrolling .yellowButton,
	.headerPanel.view_scrolling .dayInfo,
	.headerPanel.view_scrolling .mainLogo {
		display: none;
	}
}



.mainLogo {
	float: left;
	font-size: 0;
}
.mainLogo img {
	margin: 5px 0;
	width: 120px;
	height: 50px;
}











.menu {
	float: right;
}
.menu__item {
	float: left;
	position: relative;
}
.menu__link {
	font-weight: 700;
	font-size: 14px;
	display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
	color: #ddd;
	text-decoration: none;
	height: 60px;
	line-height: 20px;
	padding: 0 9px;
}
.menu__link:hover {
	/*background: #c64a1b;*/
	background: #667787;
	color: #fff !important;
}

.menu__link.view_menuIcon {
	position: relative;
	padding-right: 26px
}
.menu__link.view_menuIcon .icon {
	position: absolute;
    right: 9px;
    top: 46%;
	display: inline-block;
    border: 5px solid transparent;
    border-top: 5px solid #fff;
}
.menu__link.view_menuIcon.state_open {
	background: #667787;
}
.menu__link.view_menuIcon.state_open .icon {
    top: 38%;
    border: 5px solid transparent;
    border-bottom: 5px solid #fff;
}




.menu__link.view_enter,
.menu__link.view_search {
	padding-left: 70px;
	color: #ffd500;
}
.menu__link.view_enter:before,
.menu__link.view_search:before {
	display: block;
	position: absolute;
	content: "";
	width: 17px;
	height: 17px;
	left: 40px;
	top: 16px;
	background-image: url(../_images/icons_sprite.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.menu__link.view_enter:before,
	.menu__link.view_search:before {
        background-image: url(../_images/icons_sprite_2x.png);
        background-size: 282px 500px;
    }
}

.menu__link.view_enter:before {
	background-position: -44px -44px;
}
.menu__link.view_search:before {
	background-position: -10px -44px;
}
@media screen and (max-width: 1040px) {
	.menu {
		display: none;
		position: fixed;
		background: #000;
		top: 60px;
		left: 0;
		height: 100%;
		width: 220px;
	}
	.menu.state_open {
		display: block;
	}
	.menu__link {
		width: 100%;
		height: 40px;
		padding: 5px 5px 5px 40px;
	}
	.menu__link.view_menuIcon .icon {
		display: none;
	}
	.menu__item {
		display: table;
		width: 100%;
		border-bottom: 1px solid #252525;
	}
}
.menu__item.view_mobileOnly {
	display: none;
}

@media screen and (max-width: 1023px) {
	.menu__item.view_mobileOnly {
		display: table;
	}
}







.subMenu {
	display: none;
	width: 100%;
	position: fixed;
	top: 60px;
	left: 0;
}
.subMenu.state_open {
	display: block;
}
.submenuContent {
	background: #667787;
	padding-top: 20px;
	padding-bottom: 22px;	
}


@media screen and (max-width: 1040px) {
	.subMenu {
		left: 220px;
		height: 100%;
		width: calc(100% - 220px);
		min-width: 548px;
	}
	.submenuContent {
		height: 100%;
		padding-top: 22px;
		padding-bottom: 22px;
	}
	.submenuContent.paddings_side { /* перебиваем */
		padding-left: 20px;
		padding-right: 20px;	
	}
	.menu.state_open .subMenu {
		display: none;
	}
	.menu.state_open .subMenu.state_open {
		display: block;
	}
}


















.mobileMenuButton {
	display: none;
	font-size: 11px;
    text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	padding-top: 40px;
	width: 56px;
	margin-right: 8px;
	position: relative;
}
.mobileMenuButton:hover {
	color: #fff;
}


.mobileMenuButton .icon_hamburger,
.mobileMenuButton .icon_hamburger:before,
.mobileMenuButton .icon_hamburger:after {
	display: block;
	font-size: 0;
	content: "";
	width: 33px;
	height: 4px;
	background: #fff;
	position: absolute;
	top: 14px;
}
.mobileMenuButton .icon_hamburger:before {
	top: 9px;
}
.mobileMenuButton .icon_hamburger:after {
	top: 18px;
}
.mobileMenuButton .icon_pointer {
	position: absolute;
    right: 7px;
    top: 52%;
	display: inline-block;
    border: 4px solid transparent;
    border-top: 4px solid #777;
}


@media screen and (max-width: 1040px) {
	.mobileMenuButton {
		display: block;
		float: left;
	}
	.mobileMenuButton.state_open .icon_pointer {
		top: 46%;
	    border: 4px solid transparent;
	    border-bottom: 4px solid #777;
    }
}
















.header__loginButton,
.header__searchButton {
	text-decoration: none;
	font-size: 0;
	float: right;
	width: 32px;
	height: 35px;
	margin: 12px 0;
	background-image: url(../_images/icons_sprite.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.header__loginButton,
	.header__searchButton {
        background-image: url(../_images/icons_sprite_2x.png);
        background-size: 282px 500px;
    }
}

.header__loginButton {
	background-position: -35px 0;
}
.header__loginButton:hover,
.header__loginButton.state_open {
	background-position: -35px -35px;
}
.header__searchButton {
	background-position: 0 0;
}
.header__searchButton:hover {
	background-position: 0 -35px;
}
@media screen and (max-width: 1023px) {
	.header__loginButton,
	.header__searchButton {
		display: none;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.header__loginButton,
	.header__searchButton {
		margin-left: 20px;
	}
}





.headerSearch {
	float: right;
	position: relative;
	z-index: 10;
	width: 100%;
}
@media screen and (max-width: 1023px) {
	.headerSearch {
		width: calc(100% - 198px);
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.headerSearch {
		width: 700px;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.headerSearch {
		width: 809px;
	}
}
@media screen and (min-width: 1280px) {
	.headerSearch {
		width: 809px;
	}
}

.headerSearch__form {
	overflow: hidden;
	height: 60px;
	width: 0;
	opacity: 0;
	right: 0;
	top: 0;
	position: absolute;
	background: #000;
	display: none;
	padding: 14px 0 10px 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}



















