.newsList__item {
	padding: 10px 0;
	border-top: 1px dashed #eee;
}
.newsList__item:first-child {
	border-top: none;
}
.newsList__date {
	font-size: 14px;
	color: #7e7e7e;
}
.newsList__link {
	color: #343434;
    text-decoration: none;
}
.newsList__link:hover {
    color: #c64a1b;
	text-decoration: none;
}

.newsList__link-important {
    color: #c6271b;
    font-weight: 700;
}










.brick.view_yellow .newsList {
	padding: 0 15px 0;
}
.brick.view_yellow .newsList__item {
	padding-top: 9px;
}
.brick.view_yellow .newsList__item:first-child {
	padding-top: 20px;
}
.brick.view_yellow .newsList__date {
	display: block;
	float: left;
	padding-top: 1px;
    width: 42px;
}
.brick.view_yellow .newsList__date b {
	font-weight: normal;
	font-size: 13px;
}
.brick.view_yellow .newsList__link {
	display: block;
	margin-left: 45px;
	font-size: 15px;
}






.tabs__wrapper .newsList__date {
	display: block;
	margin-bottom: 5px;
	/*font-size: 16px;*/
}
.tabs__wrapper .newsList__link {
	font-size: 15px;
	color: #000;
}
.tabs__wrapper .newsList__date .countersBlock {
	float: right;
	margin-top: 3px;
}













.chapterNewsList__item {
	padding: 0 0 20px;
}
.chapterNewsList__date {
	font-size: 14px;
	color: #7e7e7e;
    float: left;
    padding-top: 3px;
    width: 42px;
}
.chapterNewsList__link {
	font-size: 16px;
	color: #000;
    text-decoration: none;
    display: block;
    margin-left: 50px;
}
.chapterNewsList__link:hover {
    color: #c64a1b;
	text-decoration: none;
}
.chapterNewsList__date b {
	font-weight: normal;
	color: #c7c7c7;
	font-size: 12px;
}

.penIcon {
	display: inline-block;
    width: 13px;
    height: 13px;
    background: url(../_images/icons_sprite.png) no-repeat;
    background-position: -48px -317px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.penIcon {
        background-image: url(../_images/icons_sprite_2x.png);
        background-size: 282px 500px;
    }
}


.chapterNewsList.view_small .chapterNewsList__item {
	padding: 0 0 15px;
}
.chapterNewsList.view_small .chapterNewsList__link{
	font-size: 14px;
}
.chapterNewsList.view_small .chapterNewsList__date {
	font-size: 14px;
	padding-top: 0px;
    line-height: 1;
}
.moreChapters {
	font-size: 14px;
	display: inline-block;
	margin-left: 50px;
	text-decoration: underline;
	color: #878787;
}