


.pagination {
	text-align: center;
	padding: 18px 27px 15px;
}
.pages {
	display: inline-block;
}
.pages li {
	float: left;
	font-size: 21px;
	font-weight: bold;
	margin-right: 15px;
}
.pages li a {
	display: inline-block;
	color: #a3a3a3;
	padding: 2px 9px;
	text-decoration: none;
}
.pages li a:hover {
	background: #c64a1b;
	color: #fff !important;
}
.pages li.state_active {
	padding: 2px 9px;
	color: #000;
	background: #ffd103;
	position: relative;
}
.pages li.state_active:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: -18px;
    left: 8px;
	border: 7px solid transparent;
    border-top: 7px solid #fff;
}
.pages li.pages__more:after {
	content: '...';
	color: #a3a3a3;
}






.pagination__nav {
	width: 50px;
	height: 50px;
	margin-top: -9px;
	background: url(../_images/icons_sprite.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.pagination__nav {
        background-image: url(../_images/icons_sprite_2x.png);
        background-size: 282px 500px;
    }
}

.pagination__nav.view_prev {
	float: left;
	background-position: -50px -184px
}
.pagination__nav.view_next {
	float: right;
	background-position: 0px -184px
}