.errorPages {
    padding: 0 30px 60px;
}
.errorPages__pageStatus {
    float: left;
    width: 400px;
    height: 450px;
    background: #f5f5f5;
}
.errorPages__pageErrorTextWrapper {
    margin-left: 430px;
}
.errorPages__pageErrorText {
    height: 250px;
    padding-top: 50px;
    margin-bottom: 35px;
    border-bottom: 2px solid #d4d4d4;
    font-size: 40px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.errorPages__pageStatusText {
    height: 250px;
    padding-top: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 132px;
    border-bottom: 1px solid #d4d4d4;
}
.errorPages__importantNote {
    font-weight: normal;
    color: #c64a1b;
}
.errorPages__importantNote:before {
    content: '';
    display: block;
}
.errorPages__linkToIndexPage {
    padding-top: 55px;
    border-top: 1px solid #fcfcfc;
    text-align: center;
}
.toIndexPage {
    color: #c64a1b;
    font-weight: bold;
    text-decoration: none;
}
.toIndexPage:hover {
    text-decoration: underline;
}
.errorPages__search {
    padding: 0 100px 0 13px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    text-align: center;
    position: relative;
}
.errorPages__searchInput {
    width: 100%;
    padding: 10px 0;
    border: 0;
}
.errorPages__search .errorPages__searchButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    padding: 10px 10px 10px 20px;
    background: #ffd500 url(../_images/icons.png) -408px -65px no-repeat;
    text-transform: uppercase;
    color: #000;
}