.photoSection {
	overflow: hidden;
	position: relative;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
}
.photoSection h1 {
	text-align: center;
}
.photoBlock {
	width: 49%;
	/*margin-left: 2%;*/
	float: left;
	position: relative;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
}
/*.photoBlock:first-child {
	margin-left: 0;
}*/
.photoBlock__image {
	overflow: hidden;
	display: block;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.photoBlock__image:hover {
	opacity: .83;
}

@media screen and (max-width: 1023px) {
	.photoBlock__image  {
		height: 125px;
		padding-top: 125px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.photoBlock__image  {
		height: 160px;
		padding-top: 160px;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.photoBlock__image  {
		height: 160px;
		padding-top: 160px;		
	}
}
@media screen and (min-width: 1280px) {
	.photoBlock__image  {
		height: 190px;
		padding-top: 190px;
	}
}


.photoBlock img {
	width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.photoBlock__description {
    font-family: 'Roboto Slab', serif;
	font-size: 26px;
	background: rgba(0,0,0,.7);
	position: absolute;
	font-weight: bold;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
}
@media screen and (max-width: 1023px) {
	.photoBlock__description {
		font-size: 21px;
	}
}




.photoBlock .brick__header {
	position: absolute;
	top: 0;
}

.photoSection__nav {
	display: block;
	position: absolute;
	top: 47%;
	width: 50px;
    height: 50px;
    border-radius: 3px;
	content: "";
	background: #111 url(../_images/icons_sprite.png);
	opacity: .85;
	z-index: 10;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.photoSection__nav {
        background-image: url(../_images/icons_sprite_2x.png);
        background-size: 282px 500px;
    }
}

.photoSection__nav:hover {
	opacity: 1;
	background-color: #000;
}
.photoSection__nav.swiper-button-disabled {
	opacity: .25;
}
.photoSection__nav.view_prew {
	background-position: -50px -233px;
	left: 25px;
}
.photoSection__nav.view_next {
	background-position: 0px -233px;
	right: 25px;
}