.popover__wrapper {
	display: none;
	/*top: 60px;*/
	width: 100%;
}
.popover__wrapper .wrapper {
	position: relative;
}
.popover__wrapper.state_open {
	display: block;
}
.popoverLogin {
	position: absolute;
	right: 0;
	background: #fff;
	color: #000;
	font-size: 13px;

	width: 480px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 



	-moz-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

.popoverLogin:after {
	display: block;
	content: "";
    position: absolute;
    top: -14px;
    right: 47px;
    display: inline-block;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
}
@media screen and (max-width: 1023px) {
	.popoverLogin {
		display: none;
	}
}
/*@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.popoverLogin {
		padding: 2% 0;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.popoverLogin {
		padding: 22px;
	}
}*/
@media screen and (min-width: 1280px) {
	.popoverLogin:after {
	    right: 23px;
	}
}



.popoverLogin__sectionBottom,
.popoverLogin__sectionTop {
    padding: 22px 25px 16px;
}
.popoverLogin__sectionBottom {
	background: #f6f6f6;
	border-top: 1px solid #e5e5e5;
}
.popoverLogin__sectionTop {
	padding-bottom: 10px;
}



.popoverLogin__welcome {
	font-size: 30px;
	padding-left: 65px;
	height: 72px;
	width: 220px;
	margin-bottom: 26px;
	background: url(../_images/logo_clear.png) no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.popoverLogin__welcome {
		background-image: url(../_images/logo_clear_2x.png);
		background-size: 45px 72px;
	}
}



.popoverLogin__sectionTop .popoverLogin__tip {
	 position: absolute;
	 right: 25px;
}
.popoverLogin__sectionBottom .popoverLogin__tip {
	float: right;
}
.popoverLogin__tip a {
	color: #000 !important;
}
.popoverLogin__tip a:hover {
	color:  #c64a1b !important;
}
.popoverLogin h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
	margin-bottom: 15px;
}
/*.popoverLogin p {
	font-size: 14px;
}*/

.popoverLogin__loginForm input[type="text"],
.popoverLogin__loginForm input[type="password"] {
	float: left;
	width: 49%;
	margin-bottom: 5px;
}
.popoverLogin__loginForm input[type="text"] {
	margin-right: 2%;
}
.popoverLogin__loginForm label {
	font-size: 13px;
}
.headerPanel .popoverLogin__loginForm .yellowButton {
    float: none;
    display: inline-block;
    margin-left: 140px;
    margin-top: 5px;
}