.popover__wrapper {
	display: none;
	/*top: 60px;*/
	width: 100%;
}
.popover__wrapper .wrapper {
	position: relative;
}
.popover__wrapper.state_open {
	display: block;
}
.popoverLogin {
	position: absolute;
	right: 0;
	background: #fff;
	color: #000;
	font-size: 13px;

	width: 480px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 



	-moz-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

.popoverLogin:after {
	display: block;
	content: "";
    position: absolute;
    top: -16px;
    right: 47px;
    display: inline-block;
    border: 8px solid transparent;
    border-bottom: 8px solid #fff;
}
@media screen and (min-width: 1280px) {
	.popoverLogin:after {
	    right: 23px;
	}
}



.popoverLogin__sectionBottom,
.popoverLogin__sectionTop {
    padding: 22px 25px 16px;
}
.popoverLogin__sectionBottom {
	background: #f6f6f6;
	border-top: 1px solid #e5e5e5;
}
.popoverLogin__sectionTop {
	padding-bottom: 10px;
}



.popoverLogin__welcome {
	font-size: 30px;
	padding-left: 65px;
	height: 72px;
	width: 220px;
	margin-bottom: 26px;
	background: url(../_images/logo_clear.png) no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.popoverLogin__welcome {
		background-image: url(../_images/logo_clear_2x.png);
		background-size: 45px 72px;
	}
}



.popoverLogin__sectionTop .popoverLogin__tip {
	 position: absolute;
	 right: 25px;
}
.popoverLogin__sectionBottom .popoverLogin__tip {
	float: right;
}
.popoverLogin__tip a {
	color: #000 !important;
}
.popoverLogin__tip a:hover {
	color:  #c64a1b !important;
}
.popoverLogin h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
	margin-bottom: 15px;
}
/*.popoverLogin p {
	font-size: 14px;
}*/

.popoverLogin__loginForm input[type="text"],
.popoverLogin__loginForm input[type="password"] {
	float: left;
	width: 49%;
	margin-bottom: 5px;
}
.popoverLogin__loginForm input[type="text"] {
	margin-right: 2%;
}
.popoverLogin__loginForm label {
	font-size: 13px;
}
.headerPanel .popoverLogin__loginForm .yellowButton {
    float: none;
    display: inline-block;
    margin-left: 50%;
    -webkit-transform: translateX(-54%);
    -moz-transform: translateX(-54%);
    -ms-transform: translateX(-54%);
    transform: translateX(-54%);  
    margin-top: 5px;
}




@media screen and (max-width: 1023px) {
	.popoverLogin {
		left: 220px;
		width: auto;
	}
	.popoverLogin:after {
	    top: 18px;
	    left: -16px;
	    right: auto;
	    display: inline-block;
	    border: 8px solid transparent;
	    border-right: 8px solid #fff;
	}
}















.popup {
	display: none;
	background: #fff;
	width: 570px !important;
	min-height: 200px !important;
}
.popup__header {
	background: #3b5998 url(../_images/fb.svg) no-repeat 35px 27px;
	background-size: 215px 42px;
	height: 96px;
	position: relative;
}
.popup__header .closeButton {
	position: absolute;
    right: 20px;
    top: 6px;
    font-size: 38px;
}
.popup__header .closeButton:hover {
	color: #fff;
	opacity: .5;
}
.popup_footer {
	background: #dededd;
	color: #000;
	text-decoration: none;
    padding: 16px 0 20px;
   	text-align: center;
	display: inline-block;
	width: 100%;
	font-size: 17px;
}
.popup_footer:hover {
	color: #000;
}
.popup_footer span {
	border-bottom: 1px dashed #000;
}
.popup_footer:hover span {
	border-bottom: 0;
	padding-bottom: 1px;
}
.fb-like {
	width: 100%;
	display: block !important;
	min-height: 110px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    padding: 40px 60px 45px;
}


.popoverReadLater {
	position: absolute;
	right: 0;
	width: 860px;
	padding: 40px;

	background: #fff;
	color: #000;
	font-size: 13px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	border: 3px solid #c64a1b;
}
.popoverReadLater .ui-tabs-active,
.popoverReadLater .ui-state-active,
.popoverReadLater .ui-state-hover {
	background: none;
	border: none;
}
.popoverReadLater .ui-tabs-active a,
.popoverReadLater .ui-state-active a {
	color: #c64a1b;
}

@media screen and (max-width: 1040px){
	.popoverReadLater {
		position: fixed;
		top: 60px;
		left: 220px;
		height: calc(100% - 60px);
		width: calc(100% - 220px);
		min-width: 548px;
	}
}

.popoverCurrency {
	display: none;

	position: absolute;
	z-index: 100;
	left: -3px;
	top: 53px;
	width: 522px;
	height: 292px;
	padding: 15px;

	background: #fff;
	color: #000;
	font-size: 13px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	border: 3px solid #ffd051;
}

.headerPanel .popoverCurrency {
	position: fixed;
	left: 0;
	top: 60px;
	width: 100%;
	min-width: 768px;
}
.popoverCurrency h6 {
	margin-bottom: 15px;
}
@media screen and (max-width: 1023px) {
	.state_open > .popoverCurrency {
		display: block;
	}
}
@media screen and (min-width: 1024px) {
	.dayInfo li:hover .popoverCurrency {
		display: block;
	}
}

div[data-chart] {
	margin-left: -6px;
}
div[data-chart] [dir] {
	margin: 0 auto;
}

.popover__close {
	float: right;
	display: none;
	width: 12px;
	height: 12px;
	background: url(../_images/icons_sprite.png) -50px -381px no-repeat;
	cursor: pointer;
}
@media screen and (max-width: 1023px){
	.popover__close {
		display: block;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
	.popover__close {
		background-image: url(../_images/icons_sprite_2x.png);
		background-size: 282px 500px;
	}
}