.ridusMap {
	height: 180px;
	background: url(../_images/ridus-map.png) no-repeat center, 
				url(../_images/ridus-map.jpg) center;
	/*background-size: cover;*/
	background-repeat:;
/*	margin-bottom: 20px;
*/	position: relative;
}
.ridusMap .yellowButton {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin: 0;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.ridusMap .yellowButton .corner {
    border-bottom-color: #886147;
}

.ridusMap__icon {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 20px;
	top: 20px;
	background: #ffd051 url(../_images/ridus-map.gif) center;
}