.slider {
    position: relative;
    height: 400px;
    float: left;
    min-width: 0;
    overflow: hidden;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
}


/*.table__sideColumn .brick.view_opinion {
    width: 300px;
}
*/
@media screen and (max-width: 1023px) {
    .slider {
        width: 97%;
        margin: 0 3% 22px 0;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
    .slider {
        width: 64.6666%;
        margin: 0 2% 22px 0;
    }
    .table__mainColumn .slider {
        width: 97%;
    }
    /* фикс бага слайдера - почему-то внутри display:tavle-cell некорректно считает ширину ; */
/*    .table__mainColumn .slider {
        width: 607px;
    }
    .table__mainColumn .brick.view_opinion {
        width: 291px;
    }*/
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
    .slider {
        width: 622px;
        margin: 0 22px 22px 0;
    }
}
@media screen and (min-width: 1280px) {
    .slider {
        width: 606px;
        margin: 0 16px 16px 0;
    }
/*    .table__sideColumn .brick.view_opinion {
        width: 295px;
    }
*/
}



.aLaSlideImage {
    position: relative;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.aLaSlideImage.view_fullwidth {
    width: 100%;
}
@media screen and (max-width: 1023px) {
    .aLaSlideImage {
        width: 97%;
        margin: 0 3% 22px 0;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
    .aLaSlideImage {
        width: 64.66666%;
        margin: 0 2% 22px 0;
    }
    .table__mainColumn .aLaSlideImage {
        width: 97%;
        margin: 0 3% 22px 0;
    }
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
    .aLaSlideImage {
        width: 622px;
        margin: 0 22px 22px 0;
    }
}
@media screen and (min-width: 1280px) {
    .aLaSlideImage {
        width: 606px;
        margin: 0 16px 16px 0;
    }
    .aLaSlideImage.view_fullwidth {
        height: 500px;
    }
    .aLaSlideImage.view_fullwidth .slider__image {
        height: 250px;
        padding-top: 250px;
    }
}

.aLaSlideImage .brick__fullscreenLabel {
    background: rgba(0,0,0,0);
    -webkit-transition: background .2s ease-in-out;
    -moz-transition:    background .2s ease-in-out;
    transition:         background .2s ease-in-out;
}
.aLaSlideImage:hover .brick__fullscreenLabel {
    background: rgba(0,0,0,.4);
}



.slider__text {
    /*transform: translateZ(0);*/
    /*-webkit-backface-visibility: hidden;*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 16px 30px;
    z-index: 15;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
}
.aLaSlideImage .slider__text {
    padding-bottom: 20px;
    z-index: 15;
}
.slider__text h1 {
    line-height: 1.08;
    text-transform: none;
    font-size: 40px;
    margin-bottom: 14px;
}
.slider__text h1 a {
    color: #fff;
    text-decoration: none;
    opacity: .92;
}
.aLaSlideImage:hover .slider__text h1 a,
.slider__image:hover + .slider__text h1 a,
.slider__text:hover h1 a,
.slider__text h1 a:hover {
    color: #fff;
    opacity: 1;
/*    text-shadow: 0 1px 2px rgba(0,0,0,.5);
*/}
.slider__text h6 a {
    display: inline-block;
    text-decoration: none;
    color: #ffd051;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.slider__image {
    width: 100%;
    display: block;
    height: 200px;
    overflow: hidden;
    padding-top: 200px;
    /*transform: translateZ(0);*/
}
.slider__image img {
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.slider__text .brick__label {
    margin-bottom: 10px;
    z-index: 20;
    position: relative;
}





















.pageSwiper {
    overflow: hidden;
}
.pageSwiper__container {
    position: relative;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
    /*-webkit-backface-visibility: hidden;*/
}
.swiper-button-next,
.swiper-button-prev {
    width: 50px;
    height: 50px;
    background: #ffd051 url(../_images/icons_sprite.png);
    z-index: 100;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
    .swiper-button-next,
    .swiper-button-prev {
        background-image: url(../_images/icons_sprite_2x.png);
        background-size: 282px 500px;
    }
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: .75;
}
@media screen and (max-width: 1040px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}
.swiper-button-prev.swiper-button-disabled {
    background-color: #fff;
    background-position: -50px -184px;
}
.swiper-button-next.swiper-button-disabled {
    background-color: #fff;
    background-position: 0 -184px;
}


.swiper-button-prev {
    background-position: -50px -184px;
    left: 1%;
}
.swiper-button-next {
    float: right;
    background-position: 0 -184px;
    right: 1%;
}
@media screen and (min-width: 1430px) {
    .swiper-button-prev {
        left: calc(50% - 700px);
    }
    .swiper-button-next {
        right: calc(50% - 700px);
    }
}
/*@media screen and (min-width: 1500px) {
    .swiper-button-prev {
        left: 3.5%;
    }
    .swiper-button-next {
        right: 3.5%;
    }
}
@media screen and (min-width: 1500px) {
    .swiper-button-prev {
        left: 3.5%;
    }
    .swiper-button-next {
        right: 3.5%;
    }
}*/


.opinion-button-next,
.opinion-button-prev {
    width: 42px;
    height: 42px;
    position: absolute;
    cursor: pointer;
    top: -2px;
    background: transparent url(../_images/icons_sprite.png);
    z-index: 100;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
    .opinion-button-next,
    .opinion-button-prev {
        background-image: url(../_images/icons_sprite_2x.png);
        background-size: 282px 500px;
    }
}

.opinion-button-prev {
    background-position: -50px -189px;
    left: 0;
}
.opinion-button-next {
    float: right;
    background-position: -3px -189px;
    right: 0;
}
.opinion-button-next.swiper-button-disabled,
.opinion-button-prev.swiper-button-disabled {
    opacity: .3;
}









.pageSwiper .swiper-slide {
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
    /*-webkit-backface-visibility: hidden;*/
}
.pageSwiper .swiper-slide.swiper-slide-active {
    opacity: 1;
}