.globalInfo .socials__wrapper {
	float: right;
	height: 33px;
    font-size: 13px;
}
.headerSocials {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.headerSocials__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 4px 0 0;
}

.headerSocials__link {
    display: inline-block;
}

.headerSocials__icon {
    display: inline-block;
    vertical-align: top;
    height: 33px;
    width: 33px;
    background-size: 33px 33px;
    position: relative;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
}
.headerSocials__item.view_facebook .headerSocials__icon {
    background: #3c5a98 url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjggMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE1LjEgMjN2LTguMjFoMi43NzNsLjQxNS0zLjJIMTUuMVY5LjU0N2MwLS45MjcuMjYtMS41NTggMS41OTYtMS41NThsMS43MDQtLjAwMlY1LjEyNkEyMi43ODcgMjIuNzg3IDAgMCAwIDE1LjkxNyA1QzEzLjQ2IDUgMTEuNzggNi40OTIgMTEuNzggOS4yM3YyLjM2SDl2My4yaDIuNzhWMjNoMy4zMnoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPgo=);
}
.headerSocials__item.view_vkontakte .headerSocials__icon {
    background: #48729e url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjggMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0Ljg4MyAxOS4zOTZzLjMyNS0uMDM2LjQ5LS4yMThjLjE1NC0uMTY3LjE1LS40OC4xNS0uNDhzLS4wMjMtMS40NjguNjQ4LTEuNjg0Yy42Ni0uMjEzIDEuNTEgMS40MTggMi40MDggMi4wNDYuNjguNDc0IDEuMTk3LjM3IDEuMTk3LjM3bDIuNDA0LS4wMzRzMS4yNTYtLjA4LjY2LTEuMDg0Yy0uMDUtLjA4Mi0uMzQ4LS43NDMtMS43ODgtMi4xMDItMS41MDctMS40MjMtMS4zMDUtMS4xOTIuNTEtMy42NTMgMS4xMDYtMS40OTggMS41NDgtMi40MTIgMS40MS0yLjgwNC0uMTMyLS4zNzMtLjk0NS0uMjc1LS45NDUtLjI3NWwtMi43MDYuMDE3cy0uMi0uMDI4LS4zNS4wNjNjLS4xNDQuMDg4LS4yMzguMjk1LS4yMzguMjk1cy0uNDI4IDEuMTYtMSAyLjE0NmMtMS4yMDQgMi4wOC0xLjY4NiAyLjE5LTEuODgzIDIuMDYtLjQ2LS4zLS4zNDUtMS4yMS0uMzQ1LTEuODU1IDAtMi4wMTcuMy0yLjg1Ny0uNTg2LTMuMDc1LS4yOTUtLjA3Mi0uNTEyLS4xMi0xLjI2NC0uMTI4LS45NjYtLjAxLTEuNzgzLjAwMy0yLjI0Ni4yMzQtLjMwOC4xNTMtLjU0Ni40OTUtLjQuNTE0LjE3OC4wMjUuNTgzLjExLjc5OC40MS4yNzcuMzgyLjI2OCAxLjI0NC4yNjggMS4yNDRzLjE2IDIuMzczLS4zNzMgMi42NjhjLS4zNjUuMjAyLS44NjUtLjIxLTEuOTQtMi4wOTgtLjU1LS45NjctLjk2Ni0yLjAzNi0uOTY2LTIuMDM2cy0uMDgtLjItLjIyMy0uMzA2Yy0uMTczLS4xMy0uNDE2LS4xNy0uNDE2LS4xN2wtMi41Ny4wMTZzLS4zODguMDEtLjUzLjE4MmMtLjEyNS4xNTItLjAxLjQ2Ni0uMDEuNDY2czIuMDE0IDQuNzkgNC4yOTQgNy4yMDJjMi4wOSAyLjIxNCA0LjQ2NSAyLjA2OCA0LjQ2NSAyLjA2OGgxLjA3NnoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPgo=);
}
.headerSocials__item.view_odnoklassniki .headerSocials__icon {
    background: #ff9f4d url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjggMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTMuNTYzIDE0LjEyNmMyLjU3OCAwIDQuNjY4LTIuMDQgNC42NjgtNC41NTUgMC0yLjUxNS0yLjA5LTQuNTU1LTQuNjY3LTQuNTU1LTIuNTc4IDAtNC42NjcgMi4wNC00LjY2NyA0LjU1NiAwIDIuNTE3IDIuMDkgNC41NTYgNC42NjcgNC41NTZ6bTAtNi43OTZjMS4yNjggMCAyLjI5NyAxLjAwMyAyLjI5NyAyLjI0IDAgMS4yNC0xLjAzIDIuMjQyLTIuMjk3IDIuMjQyLTEuMjY4IDAtMi4yOTYtMS4wMDMtMi4yOTYtMi4yNCAwLTEuMjQgMS4wMjgtMi4yNDIgMi4yOTYtMi4yNDJ6Ii8+PHBhdGggZD0iTTE2Ljk4IDE0LjQ4MmMtMS4zMSAxLjAwOC0zLjQxNyAxLjAwOC0zLjQxNyAxLjAwOHMtMi4xMDYgMC0zLjQxNy0xLjAwOGMtLjk3LS43NDYtMS43LS4zMTctMS45NjMuMi0uNDYuOS4wNiAxLjMzNiAxLjIzIDIuMDcgMS4wMDIuNjI3IDIuMzc2Ljg2MiAzLjI2NC45NWwtLjc0LjcyMmMtMS4wNDUgMS4wMi0yLjA1MiAyLjAwMi0yLjc1IDIuNjg1YTEuMDI3IDEuMDI3IDAgMCAwIDAgMS40NzZsLjEyNS4xMjNhMS4wOSAxLjA5IDAgMCAwIDEuNTEzIDBsMi43NS0yLjY4NSAyLjc1IDIuNjg0YTEuMDkgMS4wOSAwIDAgMCAxLjUxNSAwbC4xMjYtLjEyNGExLjAyNyAxLjAyNyAwIDAgMCAwLTEuNDc3bC0yLjc1LTIuNjg2LS43NDQtLjcyNWMuODg4LS4wOSAyLjI0OC0uMzI2IDMuMjQtLjk0OCAxLjE3Mi0uNzM0IDEuNjktMS4xNyAxLjIzLTIuMDctLjI2Mi0uNTE3LS45OTItLjk0Ni0xLjk2Mi0uMnoiLz48L2c+PC9zdmc+Cg==);
}
.headerSocials__item.view_twitter .headerSocials__icon {
    background: #00aced url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjggMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIzIDguNzNhNy4zOCA3LjM4IDAgMCAxLTIuMTIuNTgzIDMuNzA2IDMuNzA2IDAgMCAwIDEuNjIzLTIuMDQzIDcuMzk3IDcuMzk3IDAgMCAxLTIuMzQ2Ljg5NiAzLjY5MyAzLjY5MyAwIDAgMC02LjI5MyAzLjM2OCAxMC40ODUgMTAuNDg1IDAgMCAxLTcuNjEtMy44NThjLS4zMi41NDUtLjUgMS4xOC0uNSAxLjg1NiAwIDEuMjguNjUgMi40MSAxLjY0MiAzLjA3M2EzLjY4MyAzLjY4MyAwIDAgMS0xLjY3My0uNDYydi4wNDdjMCAxLjc4OCAxLjI3MyAzLjI4IDIuOTYyIDMuNjJhMy43MTggMy43MTggMCAwIDEtMS42NjcuMDYzIDMuNjk3IDMuNjk3IDAgMCAwIDMuNDUgMi41NjRBNy40MSA3LjQxIDAgMCAxIDUgMTkuOTY3YTEwLjQ1MyAxMC40NTMgMCAwIDAgNS42NiAxLjY1OGM2Ljc5NCAwIDEwLjUwOC01LjYyNiAxMC41MDgtMTAuNTA1IDAtLjE2LS4wMDMtLjMyLS4wMS0uNDc4QTcuNTA3IDcuNTA3IDAgMCAwIDIzIDguNzMyeiIgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+Cg==);
}



.headerSocials__counter {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 8px 8px 0 7px;
    font-weight: 300;
    height: 33px;
    background: #fff;
    color: #000;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e4e4e4;
	position: relative;
    /*transform: translateZ(0);*/
    /*-webkit-transform: translateZ(0);*/
    margin-left: 7px;
}
.globalInfo .ya-share2__counter:before {
    margin-left: 0;
    background: #fff;
    border-right: 1px solid #e4e4e4;
    height: 33px;
    top: -1px;
    width: 7px;
    left: -1px;
}
.headerSocials__counter:before,
.headerSocials__counter:after {
    content: ''; 
    position: absolute;
    left: -13px;
    top: 10px; 
    border: 6px solid transparent;
    border-right: 6px solid #e4e4e4;
    z-index: 8;
}
.headerSocials__counter:after {
    border-right: 6px solid #fff;
    left: -12px;
}














/* статьи */
.articleSocials__wrapper {
}
.ridusLikes {
    float: left;
    margin-bottom: 10px;
}
.view_sideBorder {
    margin-right:  16px;
    /*border-right: 1px solid #eee;*/
}
.articleSocials {
    float: left;
    margin-bottom: 10px;
}
.ridusLikesButton {
    height: 43px;
    border: 1px solid #eee;
    display: inline-block;
}
.ridusLikesButton__link {
    display: inline-block;
    height: 43px;
    width: 44px;
    background: #eee;
    color: #686b6f;
    font-size: 29px;
    font-weight: 400;
    text-align: center;
    line-height: 1.45;
    text-decoration: none;
}
.ridusLikesButton__link:hover {
    opacity: .7;
}
.ridusLikesButton span {
    color: #686b6f;
    display: inline-block;
    vertical-align: top;
    height: 43px;
    padding: 0 14px 0 35px;
    display: inline-block;
    vertical-align: top;
    height: 43px;
    padding: 0 10px 0 30px;
    line-height: 2.45;
    font-size: 18px;
    background: url(../_images/icons_sprite.png);
    background-position: 0 -333px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
    .ridusLikesButton span {
        background-image: url(../_images/icons_sprite_2x.png);
        background-size: 282px 500px;
    }
}





.articleSocials .ya-share2__badge {
	border-radius: 0;
}


.articleSocials .ya-share2__container_size_m {
	height: 45px;
}

.articleSocials .ya-share2__container_size_m .ya-share2__icon {
    height: 45px;
    width: 45px;
    background-size: 45px 45px;
}
.articleSocials .ya-share2__container_size_m .ya-share2__counter {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    padding: 13px 13px 0 8px;
    font-weight: 300;
}
.articleSocials .ya-share2__container_size_m .ya-share2__counter:before {
    margin-left: -12px;
}














@media screen and (max-width: 1040px) {
    .floatingInfo .ya-share2__counter {
        display: none;
    }
}

.floatingInfo .ya-share2__container_size_m .ya-share2__list {
    font-size: 0;
}
.floatingInfo .ya-share2__container_size_m .ya-share2__item {
    margin: 0;
    border-right: 1px solid #f0f1f5;
}
.floatingInfo .ya-share2__container_size_m .ya-share2__item:first-child {
    border-left: 1px solid #f0f1f5;
}
.floatingInfo .ya-share2__item .ya-share2__icon {
    width: auto;
    padding: 0 15px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    font-family: 'FontAwesome', serif;
}
.floatingInfo .ya-share2__item .ya-share2__counter {
    padding-left: 0;
    color: #221f30;
}
.floatingInfo .ya-share2__item_service_vkontakte .ya-share2__icon:before {
    content: "\f189";
    color: #5B7FA6;
}
.floatingInfo .ya-share2__item_service_facebook .ya-share2__icon:before {
    content: "\f09a";
    color: #3b5998;
}
.floatingInfo .ya-share2__item_service_odnoklassniki .ya-share2__icon:before {
    content: "\f263";
    color: #ff9f4d;
}
.floatingInfo .ya-share2__item_service_gplus .ya-share2__icon:before {
    content: "\f0d5";
    color: #db4437;
}
.floatingInfo .ya-share2__item_service_twitter .ya-share2__icon:before {
    content: "\f099";
    color: #57ccff;
}

.floatingInfo .ya-share2__item .ya-share2__badge {
    background: none;
}

.floatingInfo .b-share .b-share__handle {
    padding:0!important;
}

.floatingInfo .b-share-icon_yaru {
    background-position:0 -100px;
}

.floatingInfo .b-share-icon_vkontakte {
    background-position:0 -50px;
}

.floatingInfo .b-share-icon_facebook {
    background-position:-52px -100px;
}

.floatingInfo .b-share-icon_twitter {
    background-position:-52px -150px;
}

.floatingInfo .b-share-icon_odnoklassniki {
    background-position:0 -150px;
}

.floatingInfo .b-share-icon_moimir {
    background-position:-52px 0;
}

.floatingInfo .b-share-icon_lj {
    background-position:0 0;
}

.floatingInfo .b-share-icon_gplus {
    background-position:-52px -50px;
}




















.saveButton {
    float: left;
    margin-top: 16px;
    height: 43px;
    background: #eee;
    color: #686b6f;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    padding: 14px 23px 0 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: background .2s ease,
                        opacity .2s ease;
    -moz-transition: background .2s ease,
                     opacity .2s ease;
    transition: background .2s ease,
                opacity .2s ease;;

}
.saveButton:before {
    position: absolute;
    left: 20px;
    top: 16px;
    content: "";
    width: 24px;
    height: 13px;
    background: url(../_images/icons_sprite.png) -64px -285px;
    opacity: .5;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
    .saveButton:before {
        background-image: url(../_images/icons_sprite_2x.png);
        background-size: 282px 500px;
    }
}
.saveButton:hover {
    background: #ffd051;
    color: #000;
}
.saveButton:hover:before {
    opacity: 1;
}
.saveButton.view_saved {
   background: #c64a1b;
   color: #fff;
}
.saveButton.view_saved:before {
    background-position:  -64px -301px;
    opacity: 1;
}
.saveButton.view_saved:hover {
    opacity: .9;
}
