.globalInfo .b-share_theme_counter {
	float: right;
}
.globalInfo .b-share_theme_counter .b-share {
	padding: 0  !important;
}
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap {
    margin-left: 10px !important;
}
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap:first-child {
    margin-left: 0 !important;
}
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link,
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link:active {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: transparent;
    height: 33px;
    border: 0;
}

.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-icon {
    width: 33px;
    height: 33px;
	background-image: url(../_images/icons_sprite.png);
}


.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-icon.b-share-icon_facebook {
	background-position: -7px -426px;
	background-color: #3c5a98;
}
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link:hover .b-share-icon.b-share-icon_facebook {
	background-color: #30487a;
}
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-icon.b-share-icon_vkontakte {
	background-position: -54px -426px;
	background-color: #48729e;
}
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link:hover .b-share-icon.b-share-icon_vkontakte {
	background-color: #3d6186;
}
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-icon.b-share-icon_twitter {
	background-position: -101px -426px;
	background-color: #00aced;
}
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link:hover .b-share-icon.b-share-icon_twitter {
	background-color:  #0092ca;
}
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-icon.b-share-icon_odnoklassniki {
	background-position: -148px -426px;
	background-color: #ff9f4d;
}
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link:hover .b-share-icon.b-share-icon_odnoklassniki {
	background-color: #d98742;
}





.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-counter {
	font-size: 14px;
	color: #000;
 	font-family: 'PT Sans', sans-serif;
 	border: 1px solid #e4e4e4;
 	margin: 0 0 0 7px;
	padding: 9px 5px 8px;
   	position: relative;
	display: block;
}
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-counter:before,
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-counter:after {
    content: ''; 
    position: absolute;
    left: -13px;
    top: 10px; 
    border: 6px solid transparent;
    border-right: 6px solid #e4e4e4;
}
.globalInfo .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-counter:after {
    border-right: 6px solid #fff;
    left: -12px;
}


























.articleSocials .b-share_theme_counter .b-share {
	padding: 0  !important;
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap {
    margin: 0 0 5px 5px !important;
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap:first-child {
    margin-left: 0 !important;
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link,
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link:active {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: transparent;
    height: 47px;
    border: 0;
}


.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link.b-share-btn__facebook {
	background-color: #3c5a98;
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link.b-share-btn__vkontakte {
	background-color: #48729e;
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link.b-share-btn__twitter {
	background-color: #00aced;
} 
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link.b-share-btn__odnoklassniki {
	background-color: #ff9f4d;
}

.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-icon {
    width: 47px;
    height: 47px;
	background-image: url(../_images/icons_sprite.png);
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-icon.b-share-icon_facebook {
	background-position: 0 -420px;
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link:hover .b-share-icon.b-share-icon_facebook {
	background-color: #30487a;
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-icon.b-share-icon_vkontakte {
	background-position: -47px -420px;
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link:hover .b-share-icon.b-share-icon_vkontakte {
	background-color: #3d6186;
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-icon.b-share-icon_twitter {
	background-position: -94px -420px;
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link:hover .b-share-icon.b-share-icon_twitter {
	background-color:  #0092ca;
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-icon.b-share-icon_odnoklassniki {
	background-position: -141px -420px;
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link:hover .b-share-icon.b-share-icon_odnoklassniki {
	background-color: #d98742;
}





.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-counter {
	font-size: 18px;
	color: #fff;
	font-weight: bold;
 	font-family: 'PT Sans', sans-serif;
 	margin: 0;
	padding: 16px 10px 8px;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
   	position: relative;
	display: block;
}
.articleSocials .b-share_theme_counter .b-share_type_small .b-share-btn__wrap .b-share__link .b-share-counter:before {
    content: ''; 
    position: absolute;
    left: 0;
    top: 15%; 
    width: 1px;
    height: 70%;
    background: #fff;
    opacity: .6;
}