

.textTabs {
	display: inline-block;
	color: #000;
	text-transform: uppercase;
	margin-right: 30px;
}

.textTabs a {
	color: #a3a3a3;
	text-decoration: none;
}
.textTabs a:hover {
	color: #c64a1b;
}








.textTabs.view_h5 {
	font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
h1 .textTabs.view_h5 {
	margin-bottom: 2px;
}













.view_dotBetween li {
	/*float: left;*/
	display: inline;
	/*position: relative;*/
	margin-left: .7em;

}
.view_dotBetween li:before {
	display: inline-block;
	content: "";
	width: .286em;
	height: .286em;
    margin-right: .8em;
/*	top: 50%;
	margin-top: -0.125em;
	left: -.9em;
	margin-left: -0.125em;
	position: absolute;*/
	margin-bottom: .24em;
	background: #ffd051;
}
.view_dotBetween li:first-child {
	margin-left: 0;
}
.view_dotBetween li:first-child:before {
	display: none;
}












