

.textTabs {
	display: inline-block;
	color: #000;
	text-transform: uppercase;
	margin-right: 30px;
}

.textTabs a {
	color: #a3a3a3;
	text-decoration: none;
}
.textTabs a:hover {
	color: #c64a1b;
}



.textTabs__item {
    font-weight: bold;
	/*font-family: 'Roboto Slab', serif;*/
}




.textTabs.view_h5 {
    margin-bottom: 5px;
    font-weight: 500;
}
h1 .textTabs.view_h5 {
	margin-bottom: 2px;
	font-weight: bold;
}










.view_dotBetween .textTabs__item {
	/*float: left;*/
	display: inline;
	margin-left: .46em;

}
.view_dotBetween .textTabs__item:before {
	display: inline-block;
	content: "";
	width: .286em;
	height: .286em;
    margin-right: .6em;
/*	top: 50%;
	margin-top: -0.125em;
	left: -.9em;
	margin-left: -0.125em;
	position: absolute;*/
	margin-bottom: .24em;
	background: #ffd051;
}
.view_dotBetween .textTabs__item:first-child {
	margin-left: 0;
}
.view_dotBetween .textTabs__item:first-child:before {
	display: none;
}


.textTabs__link.state_current {
	position: relative;
	color: #000;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.textTabs__link.state_current:before,
.textTabs__link.state_current:after {
	position: absolute;
    left: 50%;
    margin-left: -6px;
    content: "";
    border: 6px solid transparent;
}
.textTabs__link.state_current:before {
    bottom: -22px;
    border-top: 6px solid #d4d4d4;
}

.textTabs__link.state_current:after {
    bottom: -21px;
    border-top: 6px solid #fff;
}







