.submenuContent .tagList__link {
    text-transform: uppercase;
    font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	padding: 8px;
}
.submenuContent .tagList__link:hover {
	background: #2a3436;
	color: #fff !important;
} 



@media screen and (max-width: 1023px) {
	.submenuContent .tagList {		
	    -webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.submenuContent .tagList {
	    -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	}
	.submenuContent .tagList__link {
		padding: 6px;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.submenuContent .tagList {
	    -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	}
	.submenuContent .tagList__link {
		padding: 6px;
	}
}
@media screen and (min-width: 1280px) {
	.submenuContent .tagList {
	    -webkit-column-count: 4;
	    -moz-column-count: 4;
	    column-count: 4;
	}
	.submenuContent .tagList__link {
		padding: 6px;
	}
}











.footerLinks {
	background: #657889;
	padding: 20px 0 30px;
}
.footerLinks .tagList {
	float: left;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}
@media screen and (max-width: 1023px) {
	.footerLinks {
		padding-bottom: 0;
	}
	.footerLinks .tagList {
		width: 100%;
		float: none;
		margin-bottom: 30px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.footerLinks .tagList {
		width: 67%;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.footerLinks .tagList {
		width: 630px;
	}
}
@media screen and (min-width: 1280px) {
	.footerLinks .tagList {
	    width: 916px;
	}
}

.footerLinks .tagList__item {
	margin-bottom: 5px;
}

.footerLinks .tagList__link {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
	line-height: 15px;
}
.footerLinks .tagList__link:hover {
	color: #fff !important;
	text-decoration: underline;
}