.submenuContent .tagList__link {
    text-transform: uppercase;
    font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	padding: 9px;
}
.submenuContent .tagList__link:hover {
	background: #2a3436;
} 



@media screen and (max-width: 1023px) {
	.submenuContent .tagList {		
	    -webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
/*	    -webkit-column-gap: 30px;
	    -moz-column-gap: 30px;
	    column-gap: 30px;*/
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.submenuContent .tagList {
	    -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
/*	    -webkit-column-gap: 30px;
	    -moz-column-gap: 30px;
	    column-gap: 30px;*/
	}
	.submenuContent .tagList__link {
		padding: 6px;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.submenuContent .tagList {
	    -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
/*	    -webkit-column-gap: 30px;
	    -moz-column-gap: 30px;
	    column-gap: 30px;*/
	}
	.submenuContent .tagList__link {
		padding: 6px;
	}
}
@media screen and (min-width: 1297px) {
	.submenuContent .tagList {
	    -webkit-column-count: 4;
	    -moz-column-count: 4;
	    column-count: 4;
/*	    -webkit-column-gap: 30px;
	    -moz-column-gap: 30px;
	    column-gap: 30px;*/
	}
	.submenuContent .tagList__link {
		padding: 6px;
	}
}











.footer__tags {
	background: #657889;
	height: 500px;
	padding: 20px 0 30px;
}

.footer__tags .tagList__item {
	margin-bottom: 5px;
}
.footer__tags .tagList {
	float: left;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
/*	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;*/
	width: 660px;
}
.footer__tags .tagList__link {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
	line-height: 15px;
}
.footer__tags .tagList__link:hover {
	text-decoration: underline;
	color: #c64a1b;
}