.videoSection {
	margin-bottom: 22px;
	width: 100%;
    background: #ffd051;
}

.videoSection .table__sideColumn {
	background: #ffd051;
	position: relative;
}
.videoSection .table__sideColumn:last-child {
	padding: 5px
}
.videoSection .table__mainColumn .table__mainColumn {
	background: #000;
	padding-left: 0;
	overflow: hidden;
	height: 410px;
	width: calc(100% - 300px);
}


.videoSection .table__sideColumn:first-child .brick {
	padding: 85px 0 0 20px;
}
@media screen and (max-width: 1023px) {
	.videoSection .table__sideColumn:first-child .brick {
		height: 370px;
	}
	.videoSection .table__mainColumn {
		display: block;
	}
	.videoSection .table__sideColumn:first-child {
		display: block;
	}
	.videoSection .table__sideColumn:first-child .brick {
		padding-right: 20px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.videoSection .table__sideColumn:first-child .brick {
		height: 350px;
	}
	.videoSection .table__mainColumn .table__mainColumn {
		width: 100%;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1279px) {
	.videoSection .table__sideColumn:first-child .brick {
		height: 380px;
	}
	.videoSection .table__mainColumn .table__mainColumn {
		width: 100%;
	}
}
@media screen and (min-width: 1280px) {
	.videoSection {
		margin-bottom: 16px;
	}
	.videoSection .table__sideColumn:first-child .brick {
		height: 390px;
	}
	.videoSection .table__mainColumn .table__mainColumn {
		width: calc(100% - 295px);
	}
}



.brick__description {
	margin-bottom: 12px;
	color: #a38430;
	font-size: 14px;
}



.videoSection .label {
	position: absolute;
	background: #000;
	color: #fff;
	top: 20px;
	left: -10px;
	font-size: 24px;
	padding: 11px 120px 11px 40px;
	font-weight: bold;
	text-transform: uppercase;
}
.videoSection .label:after {
    display: block;
	content: "";
	position: absolute;
    right: 6px;
    top: 0;
    width: 50px;
    height: 50px;
    background: url(../_images/icons_sprite.png);
    background-position: 0px -234px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.videoSection .label:after {
		background-image: url(../_images/icons_sprite_2x.png);
		background-size: 282px 500px;
	}
}

.videoSection .label:before {
    display: block;
	content: "";
	position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 5px solid #cb6f25;
    border-right: 5px solid #cb6f25;
}




.videoPlaylist__wrapper {
	background: #000;
	height: 300px;
    overflow: hidden;
}
.videoPlaylist__nav {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 0;
	background: #000;
}
.videoPlaylist__nav:hover:after {
	opacity: 1;
}
.videoPlaylist__nav:after {
	opacity: .87;
	display: inline-block;
	content: "";
    width: 50px;
    height: 50px;
    background: url(../_images/icons_sprite.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.videoPlaylist__nav:after {
		background-image: url(../_images/icons_sprite_2x.png);
		background-size: 282px 500px;
	}
}

.videoPlaylist__nav.swiper-button-disabled:after {
	opacity: .3;
}
.videoPlaylist__nav.view_prev:after {    
	background-position: -150px -234px;
}
.videoPlaylist__nav.view_next:after {    
	background-position: -100px -234px;
}




.videoPlaylist {
    /*height: 300px;*/
}
.table .table__sideColumn .brick.videoPlaylist__item,
.videoPlaylist__item {
	box-shadow: 0 5px 0 #ffd051;
	/*height: 146px !important;*/
	padding: 16px;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.table .table__sideColumn .brick.videoPlaylist__item:last-child,
.videoPlaylist__item:last-child {
	box-shadow: none;
}
.videoPlaylist__item .brick__content h5 a {
	color: #fff;
}
.videoPlaylist__item .brick__content h5 a:hover {
	opacity: .8
}


.videoPlaylist__item .image__wrapper {
	float: left;
}
.videoPlaylist__item .brick__image {
	float: none !important;
}