
.weather {
    border: 3px solid #ffd051;
    margin-bottom: 35px;
    position: relative;
}
.weather:after {
    content: '';
    position: absolute;
    bottom: -11px;
    right: 30px;
    display: block;
    width: 15px;
    height: 15px;
    border-left: 3px solid #ffd051;
    border-bottom: 3px solid #ffd051;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476);
    transform: rotate(-45deg);
    background: #fff;
}
.weather__image {
    width: 100%;
    background: url(../_images/weather-block.jpg) center;
    background-size: cover;
}
@media screen and (max-width: 1023px) {
    .weather__image {
        height: 350px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
    .weather__image {
        height: 350px;
    }
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
    .weather__image {
        height: 350px;
    }
}
@media screen and (min-width: 1297px) {
    .weather__image {
        height: 450px;
    }
}


.weather__contentWrapper {
    padding: 18px 23px 25px;
}
.weather__header {
    color: #a3a3a3;
    font-size: 36px;
    text-transform: capitalize;
}
.weather__contentText {
    font-size: 18px;
    margin-bottom: 20px;
}
.weather__readmore {
    font-size: 18px;
    border-bottom: 1px dashed;
    color: #000;
    text-decoration: none;
    margin-bottom: 25px;
    display: inline-block;
}
.weather__contentWrapper .bottomDatapicker {
}