@import "_category-filter.css";
@import "_article.css";
@import "_comments.css";
@import "_slider.css";
@import "_socials.css";
@import "_newslist.css";
@import "_ridus-map.css";


.percentage__list {
    margin-bottom: 20px;
}
.percentage__item {
    margin-bottom: 10px;
}
.percentage {
    width: 100%;
}
.percentage__slider {
    height: 14px;
    min-width: 1px;
    background: #f6d500;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-bottom: 1px solid #d9b500;
    float: left;
    margin: 4px 0;
    width: calc(100% - 120px); /* отнять ширину текста */
}
.percentage__description {
<<<<<<< HEAD
    float: left;
    width: 120px;
    padding: 0 12px;
    font-size: 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
||||||| parent of 39a4cb4... add live comments and show updates btn
	float: left;
	width: 120px;
	padding: 0 12px;
	font-size: 16px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
=======
	float: left;
	width: 120px;
	padding: 0 12px;
	font-size: 16px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.show-updates {
	cursor: pointer;
    background: #ffd051;
    padding: 12px 0;
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.show-updates__expand {
    display: inline-block;
    margin-bottom: -3px;
    margin-left: 10px;
    border: 5px solid transparent;
    border-top: 5px solid #000;
>>>>>>> 39a4cb4... add live comments and show updates btn
}