/* стили для страницы */

.contentBg.view_paddings {
	padding-top: 20px;
}

.bricksWrapper {
	margin-bottom: 25px;
}







.headLinks {
	display: block;
	font-size: 28px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.headLinks li {
	float: left;
	position: relative;
	margin-left: 50px;
}
.headLinks li:before {
	display: block;
	content: "";
	width: 7px;
	height: 7px;
	top: 50%;
	margin-top: -3px;
	left: -27px;
	position: absolute;
	background: #ffd051;
}
.headLinks li:first-child {
	margin-left: 0;
}
.headLinks li:first-child:before {
	display: none;
}
.headLinks a {
	color: #a3a3a3;
	text-decoration: none;
}
.headLinks a:hover {
	color: #ffd051;
}











.readAlso.view_paddings {
	background: #f7f7f7;
	padding-top: 20px;
}
.readAlso h2 {
	margin-bottom: 15px;
}
@media screen and (max-width: 1023px) {
	.readAlso .miniBrick:nth-child(5n),
	.readAlso .miniBrick:nth-child(6n),
	.readAlso .miniBrick:nth-child(7n),
	.readAlso .miniBrick:nth-child(8n) {
		display: none;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.readAlso .miniBrick:nth-child(7n),
	.readAlso .miniBrick:nth-child(8n) {
		display: none;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.readAlso .miniBrick:nth-child(7n),
	.readAlso .miniBrick:nth-child(8n) {
		display: none;
	}
}


















.pageBottom {
	text-align: center;
}
.pageBottom calentar {
	margin: 0 auto;
}