

@import "_alphabeth.css";








/* стили для страницы */




















.authorProfile {
	margin-bottom: 38px;
	position: relative;
}








.authorPhoto {
	position: relative;
	width: 190px;
	padding-top: 24px;
	float: left;
	font-size: 0;
}
/*.authorPhoto a {
	display: block;
	height: 95px;
	padding-top: 95px;
	overflow: hidden;
}
.authorPhoto a img {
	transform: translateY(-50%);
	width: 100%;
}*/
.authorPhoto__label {
	position: absolute;
	top: 0;
	left: 0;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding: 6px 13px;
	background: #000;
}










.authorInfo {
    margin-left: 214px;
   	padding-top: 24px;
   	padding-bottom: 50px;
}

.authorInfoDetails {
	margin-bottom: 20px;
}





.authorSocials {
	float: right;
}
.authorSocials__item {
	display: inline-block;
	margin-right: 7px;
}
.authorSocials__link {
	display: block;
	width: 21px;
	height: 21px;
	background-image: url(../_images/icons_sprite.png);
	text-decoration: none;
	border: 0;
}
.authorSocials__link:hover {
	opacity: .8;
}
.authorSocials__link.view_iconFacebook {
	background-position: 0 -178px;
}
.authorSocials__link.view_iconVkontakte {
	background-position: -21px -178px;
}
.authorSocials__link.view_iconTwitter {
	background-position: -42px -178px;
}
.authorSocials__link.view_iconGoogle {
	background-position: -63px -178px;
}
.authorSocials__link.view_iconOdnoklassniki {
	background-position: -84px -178px;
}




.authorPopularity {
	float: right;
	margin: 0 10px;
	padding-top: 5px;
}
.authorPopularity li {
	display: inline-block;
	font-size: 12px;
	margin-right: 20px;
}
.authorPopularity .watchers {
	color: #494949;
}
.authorPopularity .watchers .eye-icon {
	width: 11px;
	height: 9px;
	display: inline-block;
	margin-left: 4px;
	background: url(../_images/icons.png) -280px -20px no-repeat;
}
.authorPopularity .rate .positive {
	color: #399800;
}
.authorPopularity .rate .negative {
	color: #e80f00;
}









































.readAlso h2 {
	margin-bottom: 15px;
}
@media screen and (max-width: 1023px) {
	.readAlso .miniBrick:nth-child(5n),
	.readAlso .miniBrick:nth-child(6n),
	.readAlso .miniBrick:nth-child(7n),
	.readAlso .miniBrick:nth-child(8n) {
		display: none;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1040px) {
	.readAlso .miniBrick:nth-child(7n),
	.readAlso .miniBrick:nth-child(8n) {
		display: none;
	}
}
@media screen and (min-width: 1041px) and (max-width: 1296px) {
	.readAlso .miniBrick:nth-child(7n),
	.readAlso .miniBrick:nth-child(8n) {
		display: none;
	}
}


















