@import "_alphabeth.css";
@import "_newslist.css";



















.authorProfile {
	margin-bottom: 38px;
	position: relative;
}








.authorPhoto {
	position: relative;
	padding-top: 24px;
	float: left;
	font-size: 0;
}
.authorPhoto__label {
	position: absolute;
	top: 0;
	left: 0;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding: 6px 13px;
	background: #000;
}
.authorPhoto__image {
	width: 295px;
	height: 280px;
}
@media screen and (max-width: 1023px) {
	.authorPhoto__image {
		width: 240px;
		height: 220px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.authorPhoto__image {
		width: 300px;
	}
}









.authorInfo {
    margin-left: 324px;
   	padding-top: 24px;
   	padding-bottom: 50px;
}
@media screen and (max-width: 1023px) {
	.authorInfo {
		margin-left: 260px;
	}
}
.authorInfo p {
	font-weight: 300;
}


.authorInfoDetails {
	position: absolute;
	bottom: 46px;
}
@media screen and (max-width: 1023px) {
	.authorInfoDetails {
	    margin-left: 260px;
	    width: calc(100% - 253px);
	}
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.authorInfoDetails {
		margin-left: 324px;
		width: calc(100% - 318px);
	}
}
@media screen and (min-width: 1280px) {
	.authorInfoDetails {
		margin-left: 316px;
		width: calc(100% - 309px);
	}
}





.authorSocials {
	float: right;
}
.authorSocials__item {
	display: inline-block;
	margin-right: 7px;
}
.authorSocials__link {
	display: block;
	width: 21px;
	height: 21px;
	background-image: url(../_images/icons_sprite.png);
	text-decoration: none;
	border: 0;
	background-size: 188px 333px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { 
	.authorSocials__link {
		background-image: url(../_images/icons_sprite_2x.png);
		/*background-size: 376px 666px;*/
	}
}


.authorSocials__link:hover {
	opacity: .85;
}
.authorSocials__link.view_iconFacebook {
	background-color: #4b68b8;
	background-position: -5px -97px;
}
.authorSocials__link.view_iconVkontakte {
	background-color: #466e9f;
	background-position: -36px -97px;
}
.authorSocials__link.view_iconTwitter {
	background-color: #2dafdf;
	background-position: -67px -97px;
}
.authorSocials__link.view_iconGoogle {
	background-color: #d73d32;
	background-position: -100px -97px;
}
.authorSocials__link.view_iconOdnoklassniki {
	background-color: #f78b0c;
	background-position: -131px -97px;
}




.authorPopularity {
	float: right;
	/*margin: 0 0 3px;*/
	/*padding-top: 5px;*/
}
.authorPopularity li {
	display: inline-block;
	font-size: 12px;
	margin-right: 15px;
}
.authorPopularity .watchers {
	color: #494949;
}
.authorPopularity .watchers .eye-icon {
	width: 11px;
	height: 9px;
	display: inline-block;
	margin-left: 4px;
	background: url(../_images/icons.png) -280px -20px no-repeat;
}
.authorPopularity .rate .positive {
	color: #399800;
}
.authorPopularity .rate .negative {
	color: #e80f00;
}





























































