.errorPages {
    padding: 0 30px 60px;
}
.errorPages__pageStatus {
    float: left;
    width: 400px;
    height: 450px;
    background: #f5f5f5;
}
.error__code {
    height: 250px;
    padding-top: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 132px;
    border-bottom: 1px solid #d4d4d4;
}



.errorPages__textWrapper {
    margin-left: 430px;
    min-height: 250px;
    margin-bottom: 48px;
    border-bottom: 2px solid #d4d4d4;
    padding-top: 59px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.errorText {
    font-size: 34px;
    line-height: 1.4;
}

.errorText b {
    color: #c64a1b;
}



.errorPages__linkWrapper {
    padding-top: 55px;
    /*border-top: 1px solid #fcfcfc;*/
    text-align: center;
}
.errorPages__linkWrapper a {
    color: #c64a1b;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}
.errorPages__linkWrapper a:hover {
    text-decoration: underline;
}



.errorPages__searchWrapper {
    position: relative;
    margin-left: 430px;
}







@media screen and (max-width: 1023px) {
    .errorPages__pageStatus {
        float: none;
        width: auto;
        height: auto;
    }
    .error__code {
        font-size: 90px;
        height: auto;
        padding-top: 10px;
    }
    .errorPages__linkWrapper {
        padding-top: 16px;
        padding-bottom: 20px;
    }
    .errorPages__textWrapper {
        margin-left: 0;
        padding-top: 40px;
        min-height: 0;
        border-bottom: none;
    }
    .errorPages__searchWrapper {
        margin-left: 0;
    }
}