@import "_comments.css";





.myAvatar__wrapper {
	float: left;
	width: 150px;
	height: 150px;
	position: relative;
}
.myAvatar__links {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.myAvatar__change {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 36px;
	text-decoration: none;
}
.myAvatar__change span {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;	
	opacity: 0;
	background: rgba(0,0,0,.2);
	color: #fff;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease;
	font-size: 13px;
	text-transform: uppercase;
	padding: 6px 0 6px;
}
.myAvatar__change:hover span {
	opacity: 1;
}
.myAvatar__wrapper .closeButton {
	position: absolute;
	right: 0;
	top: 0;
	background: rgba(0,0,0,.2);
	transition: all 0.2s ease;
	opacity: 0;
	color: #fff;
	padding: 0 10px 0 11px;
}

.myAvatar__wrapper:hover .closeButton {
	opacity: 1;
}
@media screen and (max-width: 1041px) {
	.myAvatar__wrapper .closeButton {
		opacity: 1;
	}
}





.myInfo {
	margin-left: 180px;
}






.myLabel__wrapper {
	display: inline-block;
	padding-top: 10px;
    padding-bottom: 10px;
}
.myLabel {
	/*font-weight: bold;*/
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	padding: 3px 5px;
	border-radius: 3px;
	color: #fff;
    margin: 0 10px 0 0;

}
.myLabel.view_male {
	background-color: #69A1E2;
}
.myLabel.view_female {
	background-color: #fC73d0;
	margin-left: 10px;
}
.myLabel.view_offline {
	background-color: #ccc;
	width: 105px;
	display: inline-block;
	text-align: center;
}
.myLabel.view_offline .offlineLabel__text {
	display: inline;
}
.myLabel.view_offline .onllineLabel__text {
	display: none;
}
.myLabel.view_online {
	background-color: #64BD63;
}
.myLabel.view_online .offlineLabel__text {
	display: none;
}
.myLabel.view_online .onllineLabel__text {
	display: inline;
}

.myLabel.view_hdr {
	font-family: 'Roboto Slab', serif;
	background-color: #bbb;
	font-weight: bold;
	font-size: 12px;
	padding-top: 2px;
}
.myLabel.view_i {
	font-style: italic;
	background-color: #bbb;
}
.myLabel.view_b {
	font-weight: bold;
	background-color: #bbb;
}
.myLabel.view_a {
	text-decoration: underline;
	background-color: #bbb;
}
.myLabel.view_video {
	background-color: #bbb;
}










.myprofileSocials .socialNetwork__item {
	height: 35px;
}
.myprofileSocials__switchWrapper {
	float: right;
	cursor: pointer;
}









.editorCounter {
	float: right;
	color: #090;
	font-size: 12px;
	padding-top: 5px;
}
.editorCounter .view_red {
	color: #900;
}