.photo_story-clickable {
    padding: 100px;
    text-align: center;
}
.photo_story-header {
    display: flex;
    margin: 40px;
}

.photo_story-content {
    position: relative;
    padding: 0 60px;
    flex-grow: 1;
}

.photo_story-logo {
    display: inline-block;
    background: url(./../_images/logo.png);
    width: 100px;
    height: 38px;
    background-size: 100px;
}

.photo_story-images {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
}

.photo_story-title {
    flex: 2;
    margin-left: 25px;
}

.photo_story-title h2 {
    margin-bottom: 5px;
}

.photo_story-page {
    font-size: 13px;
}

.photo_story-view {
    display: none;
    z-index: 10;
    color: #a3a3a3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 0.1%);
    background-color: black;
}

.photo_story-view-visible .photo_story-view {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.photo_story-view-visible > *:not(.photo_story-view) {
    display: none;
}

.photo_story-item {
    display: none;

    position: absolute;
    height: 100%;
    width: calc(100% - 120px);
}

.photo_story-another {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(100% - 120px);
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.photo_story-another img {
    height: auto;
}

.photo_story-another-item {
    display: inline-flex;
    margin: 0 20px;
    width: 280px;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}

.photo_story-another--open .photo_story-page {
    display: none;
}

.photo_story-another-item:hover .photo_story-another-title {
    color: #24579b;
    outline: 0;
} 


.photo_story-another-title {
    color: #D2D2D2;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 0;
}

.photo_story-another-text {
    color: #8C8C8C;
    font-size: 13px;
    line-height: 18px;
}

.photo_story-item-active {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.photo_story-images img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.photo_story-item-left {
    flex-grow: 1;
    flex: 4;
    height: 100%;
    margin: 0 auto;
}

.photo_story-item-right {
    flex: 1;
    min-width: 250px;
    padding: 0 50px;
}

.photo_story-author {
    margin: 0 0 50px;
    font-size: 12px;
    font-style: italic;
    color: #505050;
}

/*.headerSocials__item.view_facebook .headerSocials__icon,*/
.photo_story .headerSocials__counter {
    background-color: transparent;
    border: 0;
    color: #a3a3a3;
}

.photo_story .socials-article {
    text-align: center;
    padding: 40px 0;
    opacity: 0.5;
}

.photo_story-view .ya-share2__container_size_m .ya-share2__icon {
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
}

.photo_story-view .ya-share2__container_size_m .ya-share2__counter {
    font-size: 18px;
    line-height: 37px;
}

.photo_story-view .ya-share2__counter:before {
    display: none;
}
.photo_story-view .ya-share2__item_service_vkontakte .ya-share2__badge,
.photo_story-view .ya-share2__item_service_facebook .ya-share2__badge,
.photo_story-view .ya-share2__item_service_odnoklassniki .ya-share2__badge,
.photo_story-view .ya-share2__item_service_gplus .ya-share2__badge,
.photo_story-view .ya-share2__item_service_twitter .ya-share2__badge {
    background-color: transparent;
}

.line-arrow {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    font-size: 5px; /*set the size for arrow*/
    width: 4em;
    height: 4em;
    margin-top: -2em;
    top: 50%;
}

.line-arrow.left {
    border-top: 1px solid #a9a9a9;
	  border-left: 1px solid #a9a9a9;
    transform: rotate(-54deg) skew(-20deg);
    left: 20px;
}

.line-arrow.right {
  	border-top: 1px solid #a9a9a9;
	  border-right: 1px solid #a9a9a9;
    transform: rotate(54deg) skew(20deg);
    right: 20px;
}

.photo_story-content-arrow-wrapper-left:hover .line-arrow,
.photo_story-content-arrow-wrapper-right:hover .line-arrow {
    border-width: 2px;
}

.photo_story-content-arrow-wrapper-left,
.photo_story-content-arrow-wrapper-right {
    position: absolute;
    height: 100%;
    width: 60px;
    cursor: pointer;
}

.photo_story-content-arrow-wrapper-left {
    left: 0;
}

.photo_story-content-arrow-wrapper-right {
    right: 0;
}

.close {
  position: relative;;
  width: 32px;
  height: 32px;
  opacity: 0.7;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #a3a3a3;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
