.article__readmore {
    font-size: 18px;
    color: black;
    display: inline-block;
    position: relative;
    padding: 5px 40px 5px 0;
    margin: 30px 0;
}
.article__readmore:after {
    content: '';
    position: absolute;
    top: 7px;
    right: 0;
    width: 30px;
    height: 22px;
    display: block;
    background: url(../_images/icons_sprite.png) -10px -234px no-repeat;
}
.article__separator {
    border-bottom: 3px solid #d4d4d4;
}







.weather {
    border: 3px solid #ffd051;
    margin-bottom: 35px;
    position: relative;
}
.weather:after {
    content: '';
    position: absolute;
    bottom: -11px;
    right: 30px;
    display: block;
    width: 15px;
    height: 15px;
    border-left: 3px solid #ffd051;
    border-bottom: 3px solid #ffd051;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476);
    transform: rotate(-45deg);
    background: #fff;
}
.weather__image {
    width: 100%;
}
.weather__contentWrapper {
    padding: 30px;
}
.weather__header {
    color: #a3a3a3;
    font-size: 36px;
    text-transform: capitalize;
}
.weather__contentText {
    font-size: 18px;
    margin-bottom: 25px;
}
.weather__readmore {
    font-size: 18px;
    border-bottom: 1px dashed;
    color: #000;
    text-decoration: none;
}
.weather__contentWrapper .bottomDatapicker {
    margin-top: 25px;
}