.article__readmore {
    font-size: 18px;
    color: black;
    display: inline-block;
    position: relative;
    padding: 5px 40px 5px 0;
    margin: 30px 0;
}
.article__readmore:after {
    content: '';
    position: absolute;
    top: 7px;
    right: 0;
    width: 30px;
    height: 22px;
    display: block;
    background: url(../_images/icons_sprite.png) -10px -234px no-repeat;
}
.article__separator {
    border-bottom: 3px solid #d4d4d4;
}