AddDefaultCharset utf-8

#RewriteEngine On
#RewriteBase /

#Options +Indexes +Includes
Options +Includes
 
#AddType text/html .html 
#AddHandler server-parsed  .html


AddType text/html .shtml
AddOutputFilter INCLUDES .shtml
#AddHandler server-parsed  .shtml

SSILegacyExprParser on




DirectoryIndex 999.999 
IndexOptions FancyIndexing FoldersFirst
IndexIgnore .~ _* jwplayer bricks
IndexOrderDefault Ascending Name