

.translationControls {
    height: 42px;
    cursor: pointer;
}
.state_translationMinimized .translationControls {
    display: block;
}




.translation__type {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 14px 0 0 15px;
}




@media screen and (max-width: 1279px) {
    .view_withTranslation .todayMainNewsList__link {
        font-size: 16px;
        line-height: 1.2;
    }
    .todayMainNewsList {
        height: calc(95% - 48px);
        margin-top: 2%;
    }
}

.translation__wrapper {
    position: relative;
    background: #131313;
    overflow: hidden;
}
.view_withTranslation .brick {
    margin: 0;
    width: 100%;
}

.state_translationMinimized .translation {
    //display: none;
}

@media screen and (max-width: 1023px) {
    .translation__wrapper {
        margin-bottom: 22px;
    }
    .view_withTranslation .brick {
        height: 167px;  
    }
    .view_withTranslation.state_translationMinimized .brick {
        height: 335px;
    }
    .view_withTranslation .todayMainNewsList__item:last-child {
        display: none;
    }
    .view_withTranslation.state_translationMinimized .todayMainNewsList__item:last-child {
        display: list-item;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .translation__wrapper {
        margin-bottom: 22px;
    }
    .view_withTranslation {
        /*float: right;*/
        /*height: 822px; !* = x2 + margin *!*/
    }
    .view_withTranslation .brick {
        height: 283px;  
        margin-bottom: 22px;
    }
    .view_withTranslation.state_translationMinimized .brick.view_yellow {
        height: 453px;  
    }
}
@media screen and (min-width: 1280px) {
    .translation__wrapper {
        margin-bottom: 16px;
    }
    .view_withTranslation {
        /*height: 816px;  !* = x2 + margin *!*/
    }
    .view_withTranslation .brick {
        height: 589px;  
    }
    .view_withTranslation.state_translationMinimized .brick {
        height: 758px;  
    }
}










.translation__flip {
    float: right; 
    width: 42px;
    height: 42px;
    position: relative;
}
.translation__flip:before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border-top: 2px solid #fff; 
    border-left: 2px solid #fff; 
    left: 9px;
    top: 18px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.state_translationMinimized .translation__flip:before {
    top: 12px;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.state_translationMinimized .translationPlayer {
    height: 0px;
}

.state_translationMinimized .jw-skin-translation .jw-controlbar {
    background: #111;
}